<a href="https://colab.research.google.com/github/Supaporn-Bututham/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ข้อมูล alldb

In [1]:
import pandas as pd #import ฟังก์ชั่นที่ต้องใช้ในการสร้างตาราง

In [2]:
from google.colab import drive #เชื่อมต่อ colab เข้ากับไดร์ฟในข้อมูล
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os #จัดการหาไฟล์ที่อยู่ในไดร์ฟ

In [4]:
path = '/content/drive/My Drive/FinalExam' #ชี้ไฟล์ในไดร์ฟ

In [5]:
data_alldb = os.path.join(path,'alldb.csv') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(data_alldb)

/content/drive/My Drive/FinalExam/alldb.csv

In [6]:
alldb = pd.read_csv(data_alldb)  # pd.read_csv เป็นการอ่านข้อมูล แล้วตั้งชื่อตัวแปรที่เก็บไว้ว่า alldb
alldb #แสดงตาราง

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

##เลือกเฉพาะคอลัมน์ที่ต้องการ

In [7]:
alldb_choose = alldb[['user','RowKey','date','ov','phone','site','time','urine','PartitionKey','title','age']] #เลือกเฉพาะคอลัมน์ที่ต้องการ
alldb_choose

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,"iPhone13,4",01234,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed
40033,NaN,bbuogxulur.png,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,เสรี,data is not completed,data is not completed
40034,NaN,zttpqogiso.png,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed

In [8]:
alldb_choose.info() #ตรวจสอบ type ของข้อมูล

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40035 entries, 0 to 40034
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          39273 non-null  object
 1   RowKey        40034 non-null  object
 2   date          39481 non-null  object
 3   ov            39671 non-null  object
 4   phone         40032 non-null  object
 5   site          39936 non-null  object
 6   time          39478 non-null  object
 7   urine         39782 non-null  object
 8   PartitionKey  39850 non-null  object
 9   title         39591 non-null  object
 10  age           39493 non-null  object
dtypes: object(11)
memory usage: 3.4+ MB

In [9]:
alldb_choose.isnull().sum() # ตรวจสอบค่าว่างของข้อมูล

user            762
RowKey            1
date            554
ov              364
phone             3
site             99
time            557
urine           253
PartitionKey    185
title           444
age             542
dtype: int64

**จากการตรวจสอบค่า Missing ของข้อมูล พบว่าในแต่ละคอลัมน์มีค่าว่างอยู่**

##แก้ค่า Missing และเปลี่ยน type ของข้อมูล

#### คอลัมน์ user

In [10]:
alldb_choose1 = alldb_choose[(alldb_choose['user'].astype(str).str.isnumeric())] #เปลี่ยน type ของข้อมูลให้เป็น String

In [11]:
alldb_choose2 = alldb_choose1[(alldb_choose1['user'].str.len() == 5)] # เลือกเฉพาะข้อมูลที่มีความยาว 5 แล้วนำไปเก็บไว้ที่ตัวแปร alldb_choose2

In [12]:
alldb_choose2 #แสดงข้อมูล

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN
40017,12345,zgvicawbkg.png,NaN,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),xxxxx,NaN,NaN

In [13]:
alldb_choose2.info()  #ตรวจสอบ type ของข้อมูล

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38508 entries, 1 to 40017
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          38508 non-null  object
 1   RowKey        38508 non-null  object
 2   date          38206 non-null  object
 3   ov            38287 non-null  object
 4   phone         38508 non-null  object
 5   site          38506 non-null  object
 6   time          38205 non-null  object
 7   urine         38382 non-null  object
 8   PartitionKey  38483 non-null  object
 9   title         38095 non-null  object
 10  age           37997 non-null  object
dtypes: object(11)
memory usage: 3.5+ MB

In [14]:
alldb_choose2['user'] = alldb_choose2['user'].astype(int) # เปลี่ยน type ของข้อมูลให้เป็น int

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
alldb_choose2.info() #ตรวจสอบ type ของข้อมูล

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38508 entries, 1 to 40017
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          38508 non-null  int64
 1   RowKey        38508 non-null  object
 2   date          38206 non-null  object
 3   ov            38287 non-null  object
 4   phone         38508 non-null  object
 5   site          38506 non-null  object
 6   time          38205 non-null  object
 7   urine         38382 non-null  object
 8   PartitionKey  38483 non-null  object
 9   title         38095 non-null  object
 10  age           37997 non-null  object
dtypes: int64(1), object(10)
memory usage: 3.5+ MB

In [16]:
#alldb_choose['user'] = pd.to_numeric(alldb_choose['user'], errors='coerce' )

In [17]:
#alldb_choose['user'] = alldb_choose['user'].astype('Int64')

####คอลัมน์ Rowkey

In [18]:
alldb_choose2['RowKey']=alldb_choose2['RowKey'].astype('string') # เปลี่ยน type ของข้อมูลให้เป็น string

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
alldb_choose2.info() # ตรวจ type ของข้อมูล

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38508 entries, 1 to 40017
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          38508 non-null  int64
 1   RowKey        38508 non-null  string
 2   date          38206 non-null  object
 3   ov            38287 non-null  object
 4   phone         38508 non-null  object
 5   site          38506 non-null  object
 6   time          38205 non-null  object
 7   urine         38382 non-null  object
 8   PartitionKey  38483 non-null  object
 9   title         38095 non-null  object
 10  age           37997 non-null  object
dtypes: int64(1), object(9), string(1)
memory usage: 3.5+ MB

####คอลัมน์ date

In [20]:
alldb_choose2['date'] # ดูลักษณะของข้อมูล

1        2022-02-24
5        2022-02-25
7        2022-02-24
11       2022-02-25
12       2022-02-27
            ...
39813    2022-03-10
39814    2022-03-10
39815    2022-03-10
39816    2022-03-10
40017           NaN
Name: date, Length: 38508, dtype: object

In [21]:
alldb_choose2['date'] = pd.to_datetime(alldb_choose2['date'],format='%Y-%m-%d') # เปลี่ยนรูปแบบของวันที่ โดยใช้ format='%Y-%m-%d

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
alldb_choose2.info() # ตรวจ type ของข้อมูล

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38508 entries, 1 to 40017
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          38508 non-null  int64
 1   RowKey        38508 non-null  string
 2   date          38206 non-null  datetime64[ns]
 3   ov            38287 non-null  object
 4   phone         38508 non-null  object
 5   site          38506 non-null  object
 6   time          38205 non-null  object
 7   urine         38382 non-null  object
 8   PartitionKey  38483 non-null  object
 9   title         38095 non-null  object
 10  age           37997 non-null  object
dtypes: datetime64[ns](1), int64(1), object(8), string(1)
memory usage: 3.5+ MB

#### คอลัมน์ ov

In [23]:
alldb_choose2['ov'] # ดูลักษณะของข้อมูล

1        NaN
5        NaN
7        NaN
11       NaN
12       NaN
        ...
39813      0
39814      1
39815      1
39816      1
40017      2
Name: ov, Length: 38508, dtype: object

In [24]:
alldb_choose2['ov'] = pd.to_numeric(alldb_choose2['ov'], errors='coerce' ) #เปลียน type ของข้อมูลให้เป็นตัวเลข  errors='coerce' การแยกวิเคราะห์ที่ไม่ถูกต้องจะถูกตั้งค่าเป็น NaN

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
alldb_choose2['ov'] = alldb_choose2['ov'].astype('Int64') # เปลียน type ของข้อมูลเป็น int

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
set(alldb_choose2['ov']) #ตรวจสอบการจัดกลุ่มของข้อมูล

{0, 1, 2, 3, 4, <NA>}

####คอลัมน์ Phone

In [27]:
alldb_choose2['phone']=alldb_choose2['phone'].astype('string') # เปลี่ยน type ของข้อมูลให้เป็น string

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
alldb_choose2.info() # ตรวจสอบ type ของข้อมูล

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38508 entries, 1 to 40017
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          38508 non-null  int64
 1   RowKey        38508 non-null  string
 2   date          38206 non-null  datetime64[ns]
 3   ov            38286 non-null  Int64
 4   phone         38508 non-null  string
 5   site          38506 non-null  object
 6   time          38205 non-null  object
 7   urine         38382 non-null  object
 8   PartitionKey  38483 non-null  object
 9   title         38095 non-null  object
 10  age           37997 non-null  object
dtypes: Int64(1), datetime64[ns](1), int64(1), object(6), string(2)
memory usage: 3.6+ MB

####คอลัมน์ site

In [29]:
alldb_choose3 = alldb_choose2[(alldb_choose2['site'].astype(str).str.isnumeric())] #เปลี่ยน type ของข้อมูลให้เป็น String

In [30]:
alldb_choose4 = alldb_choose3[(alldb_choose3['site'].str.len() == 5)] # เลือกเฉพาะข้อมูลที่มีความยาว 5 แล้วนำไปเก็บไว้ที่ตัวแปร alldb_choose4

In [31]:
alldb_choose4 # แสดงตารางข้อมูล

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,4857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,<NA>,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,8777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,<NA>,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,4857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,<NA>,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,8777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,<NA>,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,<NA>,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN

In [32]:
alldb_choose4['site'] = alldb_choose4['site'].astype(int) # เปลี่ยน type ของข้อมูลให้เป็น int

In [33]:
alldb_choose4.info() #ตรวจสอบ type ของข้อมูล

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38493 entries, 1 to 39816
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          38493 non-null  int64
 1   RowKey        38493 non-null  string
 2   date          38193 non-null  datetime64[ns]
 3   ov            38273 non-null  Int64
 4   phone         38493 non-null  string
 5   site          38493 non-null  int64
 6   time          38192 non-null  object
 7   urine         38369 non-null  object
 8   PartitionKey  38473 non-null  object
 9   title         38084 non-null  object
 10  age           37986 non-null  object
dtypes: Int64(1), datetime64[ns](1), int64(2), object(5), string(2)
memory usage: 3.6+ MB

#### คอลัมน์ time

In [34]:
alldb_choose4['time']  # ดูลักษณะของข้อมูล

1        10:50:32
5        10:14:46
7        11:14:21
11       10:14:32
12       17:39:35
           ...
39812    11:36:34
39813    18:10:29
39814    12:14:41
39815    13:58:01
39816    13:57:58
Name: time, Length: 38493, dtype: object

In [35]:
alldb_choose4['time'] = pd.to_datetime(alldb_choose4['time'],format='%H-%M-%S',errors='ignore') # เปลี่ยนรูปแบบของวันที่ โดยใช้ format='%H-%M-%S',errors='ignore'

In [36]:
alldb_choose4.info() # ตรวจ type ของข้อมูล

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38493 entries, 1 to 39816
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          38493 non-null  int64
 1   RowKey        38493 non-null  string
 2   date          38193 non-null  datetime64[ns]
 3   ov            38273 non-null  Int64
 4   phone         38493 non-null  string
 5   site          38493 non-null  int64
 6   time          38192 non-null  object
 7   urine         38369 non-null  object
 8   PartitionKey  38473 non-null  object
 9   title         38084 non-null  object
 10  age           37986 non-null  object
dtypes: Int64(1), datetime64[ns](1), int64(2), object(5), string(2)
memory usage: 3.6+ MB

#### คอลัมน์ urine

In [37]:
alldb_choose4['urine']=alldb_choose4['urine'].astype('string') # เปลี่ยน type ของข้อมูลให้เป็น string

In [38]:
alldb_choose4.info() # ตรวจสอบ type ของข้อมูล

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38493 entries, 1 to 39816
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          38493 non-null  int64
 1   RowKey        38493 non-null  string
 2   date          38193 non-null  datetime64[ns]
 3   ov            38273 non-null  Int64
 4   phone         38493 non-null  string
 5   site          38493 non-null  int64
 6   time          38192 non-null  object
 7   urine         38369 non-null  string
 8   PartitionKey  38473 non-null  object
 9   title         38084 non-null  object
 10  age           37986 non-null  object
dtypes: Int64(1), datetime64[ns](1), int64(2), object(4), string(3)
memory usage: 3.6+ MB

#### คอลัมน์ PartitionKey

In [39]:
alldb_choose5 = alldb_choose4[(alldb_choose4['PartitionKey'].astype(str).str.isnumeric())] #เปลี่ยน type ของข้อมูลให้เป็น String

In [40]:
alldb_choose6 = alldb_choose5[(alldb_choose5['PartitionKey'].str.len() == 5)] # เลือกเฉพาะข้อมูลที่มีความยาว 5 แล้วนำไปเก็บไว้ที่ตัวแปร alldb_choose6

In [41]:
alldb_choose6  # แสดงตารางข้อมูล

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
190,6223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),00000,NaN,NaN
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN

In [42]:
alldb_choose6['PartitionKey'] = alldb_choose6['PartitionKey'].astype(int) # เปลี่ยน type ของข้อมูลให้เป็น int

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:
alldb_choose6.info()#ตรวจสอบ type ของข้อมูล

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38382 entries, 190 to 39816
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          38382 non-null  int64
 1   RowKey        38382 non-null  string
 2   date          38100 non-null  datetime64[ns]
 3   ov            38171 non-null  Int64
 4   phone         38382 non-null  string
 5   site          38382 non-null  int64
 6   time          38099 non-null  object
 7   urine         38268 non-null  string
 8   PartitionKey  38382 non-null  int64
 9   title         37975 non-null  object
 10  age           37877 non-null  object
dtypes: Int64(1), datetime64[ns](1), int64(3), object(3), string(3)
memory usage: 3.6+ MB

#### คอลัมน์ title

In [44]:
alldb_choose6[['title']] = alldb_choose6[['title']].fillna(value ={ 'title' : 'ไม่ระบุ'}) #แทนค่าว่างด้วยคำว่า ไม่ระบุ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [45]:
alldb_choose6.isnull().sum() # ตรวจสอบค่าว่างองข้อมูล และจำนวนข้อมูลที่ว่าง

user              0
RowKey            0
date            282
ov              211
phone             0
site              0
time            283
urine           114
PartitionKey      0
title             0
age             505
dtype: int64

In [46]:
set(alldb_choose6['title']) # ดูว่าข้อมูลมีค่าอะไรอยู่บ้าง พบว่าสามารถบ่บอกถึงเพศได้

{'  นาง',
 ' นาง',
 ' นางสาว',
 ' นาย',
 'Mrs',
 'ชาย',
 'ด.ช.',
 'ด.ญ.',
 'ด.ต.',
 'น',
 'น.ส',
 'น.ส ',
 'น.ส.',
 'นส',
 'นส.',
 'นส. ',
 'นาง',
 'นาง ',
 'นาง.',
 'นางl',
 'นางสาว',
 'นางสาว ',
 'นางสาว                   ',
 'นาน',
 'นาบ',
 'นาย',
 'นาย ',
 'นาย  ',
 'นาว',
 'นาวสาว',
 'นา่ง',
 'น่าย',
 'พจอ.',
 'พระ',
 'พระครุ',
 'พระปลัด',
 'พลฯ',
 'ร.ต.',
 'ร.ต.ต.',
 'ร.ต.ท.',
 'ร.ต.อ.',
 'รต.',
 'ว่าที่ ร.ต.',
 'ว่าที่ ร.ท.',
 'ว่าที่ร้อยตรี',
 'ส.อ.',
 'ืนาง',
 'เด็กชาย',
 'เด็กหญิง',
 'ไม่ระบุ'}

In [47]:
alldb_choose6['title'].replace({'  นาง':'หญิง',    # เปลี่ยนค่าข้อมูลให้เป็นเพศ
                            ' นาง':'หญิง',
                            ' นางสาว':'หญิง',
                            ' นาย':'ชาย',
                            'Mrs':'หญิง',
                            'data is not completed':'ไม่ระบุ',
                            'okp':'ไม่ระบุ',
                            'ด.ช.':'ชาย',
                            'ด.ญ.':'หญิง',
                            'ด.ต.':'ไม่ระบุ',
                            'น':'ชาย',
                            'น.ส':'หญิง',
                            'น.ส ':'หญิง',
                            'น.ส.':'หญิง',
                            'นส':'หญิง',
                            'นส.':'หญิง',
                            'นส. ':'หญิง',
                            'นาง':'หญิง',
                            'นาง ':'หญิง',
                            'นาง.':'หญิง',
                            'นางl':'หญิง',
                            'นางสาว':'หญิง',
                            'นางสาว ':'หญิง',
                            'นางสาว                   ':'หญิง',
                            'นาน':'ไม่ระบุ',
                            'นาบ':'ไม่ระบุ',
                            'นาย':'ชาย',
                            'นาย ':'ชาย',
                            'นาย  ':'ชาย',
                            'นาว':'ไม่ระบุ',
                            'นาวสาว':'หญิง',
                            'นา่ง':'หญิง',
                            'น่าย':'ชาย',
                            'พจอ.':'ไม่ระบุ',
                            'พระ':'ไม่ระบุ',
                            'พระครุ':'ไม่ระบุ',
                            'พระปลัด':'ไม่ระบุ',
                            'พลฯ':'ไม่ระบุ',
                            'ร.ต.':'ไม่ระบุ',
                            'ร.ต.ต.':'ไม่ระบุ',
                            'ร.ต.ท.':'ไม่ระบุ',
                            'ร.ต.อ.':'ไม่ระบุ',
                            'รต.':'ไม่ระบุ',
                            'ว่าที่ ร.ต.':'ไม่ระบุ',
                            'ว่าที่ ร.ท.':'ไม่ระบุ',
                            'ว่าที่ร้อยตรี':'ไม่ระบุ',
                            'ส.อ.':'ไม่ระบุ',
                            'ืนาง':'หญิง',
                            'เด็กชาย':'ชาย',
                            'เด็กหญิง':'หญิง'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [48]:
set(alldb_choose6['title']) # ดูการจัดกลุ่มข้อมูล

{'ชาย', 'หญิง', 'ไม่ระบุ'}

**เปลี่ยนชื่อคอลัมน์**

In [49]:
alldb_choose6= alldb_choose6.rename(columns={'title':'SEX'})  #  เปลี่ยนชื่อ คอลัมน์ title เป็น SEX
alldb_choose6 ## แสดงตาราง

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,SEX,age
190,6223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,ไม่ระบุ,NaN
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),1,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),1,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),1,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),1,ชาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,ไม่ระบุ,NaN
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,ไม่ระบุ,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,ไม่ระบุ,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,ไม่ระบุ,NaN

#### คอลัมน์ age

In [50]:
alldb_choose6['age'] = pd.to_numeric(alldb_choose6['age'], errors='coerce' )     # เปลี่ยน tpye ข้อมูล  errors='coerce' การแยกวิเคราะห์ที่ไม่ถูกต้องจะถูกตั้งค่าเป็น NaN
alldb_choose6

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,SEX,age
190,6223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,ไม่ระบุ,NaN
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),1,หญิง,47.0
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),1,หญิง,41.0
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),1,หญิง,55.0
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),1,ชาย,66.0
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,ไม่ระบุ,NaN
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,ไม่ระบุ,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,ไม่ระบุ,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,ไม่ระบุ,NaN

In [51]:
alldb_choose6[(alldb_choose6['age']>0)&(alldb_choose6['age']<=102)].mean()  #ใช้คำสั่ง .mean เพื่อดูค่าเฉลี่ยของอายุ

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

user            47044.546423
ov                  0.916631
site             6134.126279
PartitionKey      568.025161
age                53.908476
dtype: float64

In [52]:
alldb_choose6=alldb_choose6.fillna(value ={ 'age' : 53.902041})  ## แก้คอลลัมน์ age เติมค่าว่าง โดยใช้คำสั่ง .fillna() ซึ่งค่าที่นำมาใส่คือค่าเฉลี่ยของอายุ
alldb_choose

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,"iPhone13,4",01234,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed
40033,NaN,bbuogxulur.png,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,เสรี,data is not completed,data is not completed
40034,NaN,zttpqogiso.png,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed

In [53]:
set(alldb_choose6['age']) #ดูการจัดกลุ่มของข้อมูล พบว่ามีส่วนที่ไม่น่าจะเป็นอายุ

{-5789.0,
 -5441.0,
 -233.0,
 -37.0,
 -32.0,
 -29.0,
 0.0,
 1.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 53.902041,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 97.0,
 127.0,
 138.0,
 151.0,
 312.0,
 315.0,
 507.0,
 590.0,
 591.0,
 1052.0,
 2030.0,
 2046.0,
 2051.0,
 2057.0,
 2063.0}

In [54]:
alldb_choose6['age'].replace({-5789.0:53.902041, # เปลี่ยนค่าข้อมูลที่ไม่น่าจะเป็นค่าอายุ แทนที่ด้วยค่าเฉลี่ย
                            -5441.0:53.902041,
                            -233.0:53.902041,
                            -37.0:53.902041,
                            -32.0:53.902041,
                            -29.0:53.902041,
                            0.0:53.902041,
                            127.0:53.902041,
                            138.0:53.902041,
                            151.0:53.902041,
                            312.0:53.902041,
                            315.0:53.902041,
                            507.0:53.902041,
                            590.0:53.902041,
                            591.0:53.902041,
                            1052.0:53.902041,
                            2030.0:53.902041,
                            2046.0:53.902041,
                            2051.0:53.902041,
                            2057.0:53.902041,
                            2063.0:53.902041},inplace=True)

In [55]:
set(alldb_choose6['age']) # ดูการจัดกลุ่มข้อมูลอีกครั้ง

{1.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 53.902041,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 97.0}

####แก้ค่า MIssing

In [56]:
alldb_choose6.isnull().any() #ตรวจสอบค่าว่างของข้อมูล

user            False
RowKey          False
date             True
ov               True
phone           False
site            False
time             True
urine            True
PartitionKey    False
SEX             False
age             False
dtype: bool

In [57]:
alldb_choose6.info() #ตรวจสอบ type ของข้อมูล

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38382 entries, 190 to 39816
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          38382 non-null  int64
 1   RowKey        38382 non-null  string
 2   date          38100 non-null  datetime64[ns]
 3   ov            38171 non-null  Int64
 4   phone         38382 non-null  string
 5   site          38382 non-null  int64
 6   time          38099 non-null  object
 7   urine         38268 non-null  string
 8   PartitionKey  38382 non-null  int64
 9   SEX           38382 non-null  object
 10  age           38382 non-null  float64
dtypes: Int64(1), datetime64[ns](1), float64(1), int64(3), object(2), string(3)
memory usage: 3.6+ MB

In [58]:
alldb_drop = alldb_choose6.dropna() #ลบค่าข้อมูลที่ว่าง โดยการใช้ dropna()
alldb_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,SEX,age
190,6223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,ไม่ระบุ,53.902041
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),1,หญิง,47.000000
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),1,หญิง,41.000000
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),1,หญิง,55.000000
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),1,ชาย,66.000000
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,ไม่ระบุ,53.902041
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,ไม่ระบุ,53.902041
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,53.902041
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,ไม่ระบุ,53.902041
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,ไม่ระบุ,53.902041

**ตรวจสอบว่าข้อมูลที่ลบไป ทำให้ข้อมูลหายไปเท่าไหร่**

In [59]:
remove = alldb_choose6.shape[0] - alldb_drop.shape[0]
print(f'จำนวนข้อมูลก่อนลบ = {alldb_choose6.shape[0]}')
print(f'จำนวนข้อมูลหลังลบ = {alldb_drop.shape[0]}')
print(f'ข้อมูลที่หายไป {100*(remove/alldb_drop.shape[0])}% จากข้อมูลทั้งหมด')

จำนวนข้อมูลก่อนลบ = 38382
จำนวนข้อมูลหลังลบ = 37895
ข้อมูลที่หายไป 1.2851299643752474% จากข้อมูลทั้งหมด

#ข้อมูล hospital

In [62]:
data_hospital = os.path.join(path,'hospital_list.xlsx') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(data_hospital)

/content/drive/My Drive/FinalExam/hospital_list.xlsx

In [63]:
hospital = pd.read_excel(data_hospital)  # pd.read_excel เป็นการอ่านข้อมูล แล้วตั้งชื่อตัวแปรที่เก็บไว้ว่า hospital
hospital

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

###เลือกคอลัมน์ที่ต้องการ

In [64]:
hospital_choose = hospital[['hcode','name','zone_name','province','amphur','tambon','name5']] #เลือกคอลัมน์ที่ต้องการ
hospital_choose

,hcode,name,zone_name,province,amphur,tambon,name5
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

### แก้ค่า MIssing และเปลี่ยน Type ของข้อมูล

In [65]:
hospital_choose = hospital_choose[(hospital_choose['hcode'].astype(str).str.isnumeric())] #เปลี่ยน type ของข้อมูลให้เป็น String

In [66]:
hospital_choose = hospital_choose[(hospital_choose['hcode'].str.len() == 5)] # เลือกเฉพาะข้อมูลที่มีความยาว 5 แล้วนำไปเก็บไว้ที่ตัวแปร alldb_choose2

In [67]:
hospital_choose #แสดงข้อมูล

,hcode,name,zone_name,province,amphur,tambon,name5
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

In [68]:
hospital_choose['hcode'] = hospital_choose['hcode'].astype(int) # เปลี่ยน type ของข้อมูลให้เป็น int

In [69]:
hospital_choose.info()  #ตรวจสอบ type ของข้อมูล

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17101 entries, 0 to 17102
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   hcode      17101 non-null  int64
 1   name       17100 non-null  object
 2   zone_name  17097 non-null  object
 3   province   17101 non-null  object
 4   amphur     17099 non-null  object
 5   tambon     16892 non-null  object
 6   name5      17098 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.0+ MB

####แก้ค่า Missing

In [70]:
hospital_choose.isnull().any() #ตรวจสอบค่าว่างของข้อมูล

hcode        False
name          True
zone_name     True
province     False
amphur        True
tambon        True
name5         True
dtype: bool

**พบว่าข้อมูลยังมีค่า Missing**

In [71]:
hospital_choose = hospital_choose.fillna(value = {'name':'ไม่ระบุ','zone_name':'ไม่ระบุ','amphur':'ไม่ระบุ','tambon':'ไม่ระบุ','name5':'ไม่ระบุ'}) #แทนค่าข้อมูลที่ว่าง ด้วย class ใหม่ ว่าไม่ระบุ

In [72]:
hospital_choose.isnull().any() #ตรวจสอบค่าว่างของข้อมูล

hcode        False
name         False
zone_name    False
province     False
amphur       False
tambon       False
name5        False
dtype: bool

**พบข้อมูลไม่มีค่า Missing อยู่แล้ว**

##เชื่อมตาราง

In [73]:
alldb_drop # ตารางข้อมูล alldb

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,SEX,age
190,6223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,ไม่ระบุ,53.902041
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),1,หญิง,47.000000
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),1,หญิง,41.000000
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),1,หญิง,55.000000
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),1,ชาย,66.000000
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,ไม่ระบุ,53.902041
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,ไม่ระบุ,53.902041
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,53.902041
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,ไม่ระบุ,53.902041
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,ไม่ระบุ,53.902041

In [74]:
hospital_choose # ข้อมูล hospital

,hcode,name,zone_name,province,amphur,tambon,name5
0,1,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,2,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,3,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,4,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,5,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

In [75]:
data_all01= alldb_drop.merge(hospital_choose,how='left',left_on='site',right_on='hcode') # เชื่อมตาราง ทั้งสองตารางเข้าด้วยกัน โดยใช้ ตัวเชื่อมคือ site และ hcode 
data_all01

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,SEX,age,hcode,name,zone_name,province,amphur,tambon,name5
0,6223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,ไม่ระบุ,53.902041,13777.0,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง,โรงพยาบาล นอก สธ.
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),1,หญิง,47.000000,6307.0,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),1,หญิง,41.000000,5328.0,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),1,หญิง,55.000000,6302.0,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),1,ชาย,66.000000,5059.0,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37890,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,ไม่ระบุ,53.902041,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37891,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,ไม่ระบุ,53.902041,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37892,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,53.902041,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37893,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,ไม่ระบุ,53.902041,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37894,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,ไม่ระบุ,53.902041,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
data_all01.isnull().sum() #ตรวจสอบค่าว่างของข้อมูล

user             0
RowKey           0
date             0
ov               0
phone            0
site             0
time             0
urine            0
PartitionKey     0
SEX              0
age              0
hcode           74
name            74
zone_name       74
province        74
amphur          74
tambon          74
name5           74
dtype: int64

In [77]:
data_all02 = data_all01.dropna() # ลบค่า Missing ของข้อมูลโดยการใช้ dropna()
data_all02

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,SEX,age,hcode,name,zone_name,province,amphur,tambon,name5
0,6223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,ไม่ระบุ,53.902041,13777.0,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง,โรงพยาบาล นอก สธ.
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),1,หญิง,47.000000,6307.0,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),1,หญิง,41.000000,5328.0,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),1,หญิง,55.000000,6302.0,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),1,ชาย,66.000000,5059.0,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37878,68768,B7F36631-D2C4-4EB5-852D-790BFAFDFD71,2022-03-24,2,"iPhone11,8",11088,10:30:22,ปกติ (เหลืองใส),89170,ไม่ระบุ,53.902041,11088.0,โรงพยาบาลห้วยผึ้ง,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ห้วยผึ้ง,นิคมห้วยผึ้ง,โรงพยาบาลชุมชน
37879,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,0,"iPhone11,8",11088,10:29:37,ปกติ (เหลืองใส),90470,ไม่ระบุ,53.902041,11088.0,โรงพยาบาลห้วยผึ้ง,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ห้วยผึ้ง,นิคมห้วยผึ้ง,โรงพยาบาลชุมชน
37880,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,1,"iPhone11,8",11088,10:24:40,ปกติ (เหลืองใส),91123,ไม่ระบุ,53.902041,11088.0,โรงพยาบาลห้วยผึ้ง,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ห้วยผึ้ง,นิคมห้วยผึ้ง,โรงพยาบาลชุมชน
37881,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,1,"iPhone11,8",11088,10:25:32,ปกติ (เหลืองใส),99444,ไม่ระบุ,53.902041,11088.0,โรงพยาบาลห้วยผึ้ง,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ห้วยผึ้ง,นิคมห้วยผึ้ง,โรงพยาบาลชุมชน
37882,99771,E04D3D60-B916-40A1-AE77-91CCD89DD084,2022-03-31,0,"iPhone10,5",5396,11:03:40,ปกติ (เหลืองใส),99771,ไม่ระบุ,53.902041,5396.0,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านสูงเนิน,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,คำม่วง,เนินยาง,โรงพยาบาลส่งเสริมสุขภาพตำบล

In [78]:
removes = data_all01.shape[0] - data_all02.shape[0]
print(f'จำนวนข้อมูลก่อนลบ = {data_all01.shape[0]}')
print(f'จำนวนข้อมูลหลังลบ = {data_all02.shape[0]}')
print(f'จำนวนข้อมูลที่หายไป {100*(removes/data_all02.shape[0])}% จากข้อมูลทั้งหมด')

จำนวนข้อมูลก่อนลบ = 37895
จำนวนข้อมูลหลังลบ = 37821
จำนวนข้อมูลที่หายไป 0.19565849660241663% จากข้อมูลทั้งหมด

# Save ไฟล์ เพื่อนำไปใช้งาน

In [79]:
data_all02.to_csv('data_all02.csv', encoding='utf-8')

#Link Dashboard

https://datastudio.google.com/s/sU-xjfkLv3Q