<a href="https://colab.research.google.com/github/Supaporn-Bututham/data_viz_2022/blob/main/Project_DataViz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Project กลุ่ม**

* ทำ Dashboard ของ Data Covid (ตั้งแต่วันที่ 12/01/2020 - 18/03/2022) 
* ใช้ข้อมูลภูมิภาค 
* ข้อมูลอื่นที่เลือกเอง

# **รายชื่อสมาชิกในกลุ่ม**
**ชื่อกลุ่ม** : ไข่ดาวเจียว

1.  นางสาวสุภาภรณ์ บุตุธรรม  623020543-8 
2.  นายคำแสน  แก้วพิภพ       623020761-8
3.  นางสาววิกานดา หงษ์บุญมี  623020764-2

***Basic Programming for Data Science and Data Visualization***

#**ข้อมูลที่นำมาใช้**

**ข้อมูลชุดที่ 1** :
รายงานจำนวนผู้ติดเชื้อโควิด-19 ประจำวัน ข้อมูลประจำประเทศไทย
ตั้งแต่วันที่ 12 มกราคม 2563 - วันที่ 18 มีนาคม 2565

**ที่มาของข้อมูล** : https://data.go.th/dataset/covid-19-daily

**องค์กร** : กรมควบคุมโรค

-----------------------------------------------------------------------

**ข้อมูลชุดที่ 2** :
ข้อมูลการแบ่งภูมิภาคของประเทศไทย

**ที่มาของข้อมูล** : https://th.wikipedia.org/wiki/ภูมิภาคของประเทศไทย

**องค์กร** : วิกิพีเดีย สารานุกรมเสรี

-----------------------------------------------------------------------

**ข้อมูลชุดที่ 3** :
ข้อมูลจำนวนประชากรในประเทศไทย แยกตามพื้นที่


**ที่มาของข้อมูล** : https://data.go.th/dataset/statbyyear

**องค์กร** : กรมการปกครอง

-----------------------------------------------------------------------

**Drive ข้อมูลรวม**: https://drive.google.com/drive/folders/1Qvc2FfXBvy-JgQ8UZH-jM8GXYbRpeTCa

**Dashboard** : https://datastudio.google.com/reporting/1ef02e55-7de5-42e0-829b-e283c5dfd02b/page/p_m597whyctc?fbclid=IwAR3qtOg_Ult0kcyPqI_GiXbVcPvSMBcun4DD_f2jHmyzE82HKoBQoTUDLgI

In [1]:
import pandas as pd  # pandas เป็น Package ที่ใช้เกี่ยวกับการจัดการข้อมูลที่เป็นตาราง , เรียกใช้โดยการ import แล้วตามด้วยชื่อ Package

In [2]:
from google.colab import drive  # เชื่อมต่อกับ google drive ที่เราเก็บข้อมูลไว้
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os # เป็น package ที่เอาไว้จัดการไฟล์และเอาไว้ดูที่มาของไฟล์หรือ path

In [4]:
path = '/content/drive/My Drive/Project_DataViz2022' #ระบุให้ชี้ไปที่โฟลเดอร์ใน google drive ที่เราเซฟไฟล์ไว้ คือ โฟลเดอร์ Project_DataViz2022

# **โหลดข้อมูล Covid-19 ทั้ง 4 ชุด**

### **คำอธิบาย คอลัมน์**

* No : รหัสผู้ป่วย
* Announce Date : วันที่แถลงข่าว
* Notification Date : วันที่กระทรวงได้รับรายงาน
* Sex : เพศผู้ป่วย
* Age : อายุของผู้ป่วย
* Nationality : สัญชาติ
* Province of isolation : จังหวัดที่รักษาตัว
* Province of onset จังหวัดที่เริ่มพบว่าตัวเองมีอาการป่วย
* District of onset อำเภอที่เริ่มพบว่าตัวเองมีอาการป่วย

## **ชุดข้อมูลที่ 1**

In [5]:
data_01 = pd.read_csv(os.path.join(path,'confirmed-cases.csv')) # ไฟล์ที่เราต้องการ
data_01 # print data ดูว่ามันหน้าตาเป็นยังไง

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,NaN,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

## **ชุดข้อมูลที่ 2**

In [6]:
data_02 = pd.read_csv(os.path.join(path,'confirmed-cases-since-120864.csv')) # ไฟล์ที่เราต้องการ
data_02 # print data ดูว่ามันหน้าตาเป็นยังไง

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

## **ชุดข้อมูลที่ 3**

In [7]:
data_03 = pd.read_csv(os.path.join(path,'confirmed-cases-since-271064.csv')) # ไฟล์ที่เราต้องการ
data_03 # print data ดูว่ามันหน้าตาเป็นยังไง

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

## **ชุดข้อมูลที่ 4**

In [8]:
data_04 = pd.read_csv(os.path.join(path,'confirmed-cases-since-280265.csv')) # ไฟล์ที่เราต้องการ
data_04 # print data ดูว่ามันหน้าตาเป็นยังไง

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

# **รวมข้อมูล Covid-19 ทั้ง 4 ชุดเข้าด้วยกัน**

In [9]:
data_covid = pd.concat([data_01, data_02, data_03, data_04])
data_covid

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

# **แสดง Columns ที่สนใจ**

In [10]:
data_covid = data_covid[['announce_date','sex','risk','province_of_onset']]
data_covid

       announce_date   sex                              risk province_of_onset
0          12/1/2020  หญิง  คนต่างชาติเดินทางมาจากต่างประเทศ     กรุงเทพมหานคร
1          17/1/2020  หญิง  คนต่างชาติเดินทางมาจากต่างประเทศ     กรุงเทพมหานคร
2          22/1/2020  หญิง  คนต่างชาติเดินทางมาจากต่างประเทศ            นครปฐม
3          22/1/2020   ชาย  คนต่างชาติเดินทางมาจากต่างประเทศ     กรุงเทพมหานคร
4          24/1/2020  หญิง  คนต่างชาติเดินทางมาจากต่างประเทศ     กรุงเทพมหานคร
...              ...   ...                               ...               ...
433548     18/3/2022  หญิง                  ทัณฑสถาน/เรือนจำ               NaN
433549     18/3/2022  หญิง                  ทัณฑสถาน/เรือนจำ               NaN
433550     18/3/2022  หญิง                  ทัณฑสถาน/เรือนจำ               NaN
433551     18/3/2022  หญิง                  ทัณฑสถาน/เรือนจำ               NaN
433552     18/3/2022  หญิง                  ทัณฑสถาน/เรือนจำ               NaN

[3325951 rows x 4 columns]

# **ตรวจสอบค่า Missing ของตาราง data_covid**

In [11]:
data_covid.isnull().any() # ดูว่าคอลัมน์ไหนมีค่า missing บ้าง สรุปคือทุกคอลัมน์ไม่มีค่า  missing

announce_date        False
sex                   True
risk                  True
province_of_onset     True
dtype: bool

### **แก้ค่า Missing ของคอลัมน์ 'sex'**

In [12]:
# แทนค่า Missing ของคอลัมน์ 'sex' เป็น 'ไม่ระบุ'
data_covid[['sex']] = data_covid[['sex']].fillna('ไม่ระบุ')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [13]:
data_covid.isnull().any() # ดูว่าคอลัมน์ไหนมีค่า missing บ้าง จะเห็นว่าคอลัมน์ 'sex' เป็น False นั่นคือไม่มีค่า missing

announce_date        False
sex                  False
risk                  True
province_of_onset     True
dtype: bool

### **แก้ค่า Missing ของคอลัมน์ 'risk'**

In [14]:
set(data_covid['risk'])      # ลองดู set ข้อมูลของคอลัมน์ 'risk'

{' Samui plus',
 '10.อื่นๆ',
 '2.สัมผัสผู้ติดเชื้อ',
 '8.สำรวจกลุ่มเสี่ยง (survey)',
 '9.ขอตรวจหาเชื้อเอง',
 'ACF รองเมือง',
 'ACF สนามกีฬาธูปะเตมีย์',
 'ACF สนามกีฬาไทย-ญี่ปุ่น',
 'ACF สีลม',
 'ACF เคหะหลักสี่',
 'BKK Sandbox',
 'Chonburi Sandbox',
 'Cluster Icon siam',
 "Cluster Memory 90's กรุงเทพมหานคร",
 'Cluster New Jazz กรุงเทพมหานคร',
 'Cluster The Lounge Salaya',
 'Cluster คลองเตย',
 'Cluster งานมอเตอร์ โชว์',
 'Cluster จนท. สนามบินสุวรรณภูมิ',
 'Cluster จันทบุรี',
 'Cluster จันทบุรี (ชาวกินี )',
 'Cluster จันทบุรี (ชาวกินี)',
 'Cluster ชลบุรี',
 'Cluster ชลบุรี บริษัทไดกิ้น',
 'Cluster ชลบุรี โรงเบียร์ 90',
 'Cluster ตราด',
 'Cluster ตราด ',
 'Cluster ตลาดนนทบุรี',
 'Cluster ตลาดบางพลี',
 'Cluster ตลาดบางแค',
 'Cluster ตลาดพรพัฒน์',
 'Cluster ตลาดสี่มุมเมือง',
 'Cluster บริษัทศรีสวัสดิ์',
 'Cluster บางแค',
 'Cluster บ่อนพัทยา/ชลบุรี',
 'Cluster บ่อนเทพารักษ์',
 'Cluster บ่อนไก่อ่างทอง',
 'Cluster ปากช่อง',
 'Cluster ผับ Thonglor',
 'Cluster มหาสารคาม',
 'Cluster ระยอง',
 'Cluster สถานบันเทิงย่านทองหล่อ',
 'Cluster สมุทรปราการ (โรงงาน บริษัทเมทัล โปรดักส์)',
 'Cluster สมุทรปราการ GRP Hightech',
 'Cluster สมุทรปราการ ตลาดเคหะบางพลี',
 'Cluster สมุทรสาคร',
 'Cluster ห้างแสงทอง (สายล่าง)',
 'Cluster เครือคัสเซ่อร์พีคโฮลดิ้ง (CPG,CPH)',
 'Cluster โรงงาน Big Star',
 'Cluster โรงงาน QPP ประจวบฯ',
 'Cluster โรงงาน standard can',
 'Cluster โรงงานทำขนม บางขุนเทียน',
 'Karbi Sandbox',
 'Krabi Sandbox',
 'Krabi Sandbox ',
 'Krabi sandbox ',
 'Narathiwat Sandbox',
 'Phang Nga Sandbox',
 'Phang nga Sandbox',
 'Phangnga Sandbox',
 'Phare Sandbox',
 'Phrae Sandbox',
 'Phuket Sandbox',
 'Phunga Sandbox',
 'Prachuap Sandbox',
 'Rayong Sandbox',
 'SHUI',
 'Samui Plus',
 'Samui plus',
 'Samut Prakan Sandbox',
 'Sandbox',
 'Songkhla Sandbok',
 'State Quarantine',
 'Surin Sandbox',
 'Test and Go',
 'Trat Sandbox',
 'Trat sandbox',
 'Udon Sandbox',
 'cluster ชลบุรี\n(อยู่ระหว่างการสอบสวน)',
 nan,
 'prachuap Sandbox',
 'กลับมาจาก จ.กรุงเทพมหานคร.',
 'การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน',
 'คนต่างชาติเดินทางมาจากต่างประเทศ',
 'คนไทยมาจากพื้นที่เสี่ยง',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คนไทยเดินทางมาจากต่างประเทศ',
 'ค้นหาเชิงรุก',
 'ตรวจก่อนทำหัตถการ',
 'ตรวจก่อนทำหัถตการ',
 'ตรวจสุขภาพแรงงานต่างด้าว',
 'ตลาด',
 'ติดเชื้อในพื้นที่ (สัมผัส ผป.ยืนยัน)',
 'ทัณฑสถาน/เรือนจำ',
 'นักกีฬา',
 'บุคลากรด้านการแพทย์และสาธารณสุข',
 'บุคลากรทางการเเพทย์',
 'ปอดอักเสบ (Pneumonia)',
 'ปอดอักเสบ Pneumonia',
 'ปอดอักเสบ(Pneumonia)',
 'ผับหัวหิน',
 'ผู้ติดเชื้อในประเทศ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AOQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า HQ/AHQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า OQ',
 'ผู้ป่วย PUI',
 'ผู้ป่วย กรุงเทพมหานคร',
 'ผู้เดินทางมาจากพื้นที่เสี่ยง กรุงเทพมหานคร',
 'พิธีกรรมทางศาสนา',
 'พื้นที่เสียง',
 'มาจากพื้นที่เสียง จ.ปทุมธานี',
 'มาจากพื้นที่เสี่ยง',
 'มาจากพื้นที่เสี่ยง จ.ปทุมธานี',
 'มีอาการ มาจาก กรุงเทพมหานคร. พนักงานร้านอาหาร',
 'รอประสาน',
 'ระบุไม่ได้',
 'ระหว่างการสอบสวนโรค',
 'ระหว่างสอบสวน',
 'รับจ้างขนของที่ตลาดท่ายาง',
 'ร่วมงานศพในหมู่บ้านทุกวัน',
 'ร้านอาหาร',
 'ศูนย์กักกัน ผู้ต้องกัก',
 'สถานที่ทำงาน',
 'สถานบันเทิง',
 'สถานประกอบการ',
 'สถานศึกษา',
 'สน.วัดพระยาไกร',
 'สนามมวย',
 'สัมผัสผู้ติดเชื้อยืนยัน\n  อยู่ระหว่างสอบสวน',
 'สัมผัสผู้ติดเชื้อยืนยัน\nอยู่ระหว่างสอบสวน',
 'สัมผัสผู้ป่วยที่ติดโควิด',
 'สัมผัสผู้ป่วยยืนยัน',
 'สัมผัสผู้ป่วยยืนยัน \n  อยู่ระหว่างสอบสวน',
 'สัมผัสผู้ป่วยยืนยัน (ยังไม่สามารถระบุได้)',
 'สัมผัสผู้ป่วยยืนยัน ภายในครอบครัว/ชุมชน/เพื่อน',
 'สัมผัสผู้ป่วยยืนยัน อยู่ระหว่างสอบสวน',
 'สัมผัสผู้ป่วยยืนยันภายในชุมชน',
 'สัมผัสผู้ป่วยยืนยันเพื่อนร่วมงาน',
 'สัมผัสผู้เดินทางจากต่างประเทศ',
 'สัมผัสสามีสะอาด เขตบ้าน (รพ.มหาชัย 2)',
 'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้',
 'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้ใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้',
 'สัมผัสใกล้ชิดผู้ป่วยยันยันก่อนหน้า',
 'สัมผัสใกล้ชิดผู้ป่วยยืนยันก่อนหน้า',
 'สัมผัสในสถานพยาบาล',
 'อยู่ระหว่างการสอบสวน',
 'อยู่ระหว่างการสอบสวน\n',
 'อยู่ระหว่างสอบสวน',
 'อยู่ระหว่างสอบสวนโรค',
 'อาชีพเสี่ยง',
 'อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงานใกล้ชิดสัมผัสชาวต่างชาติ เป็นต้น',
 'อิ่นๆ',
 'อื่น',
 'อื่น ๆ',
 'อื่นๆ',
 'เดินทางจากพื้นที่เสี่ยง',
 'เดินทางมาจากพื้นที่จังหวัดเสี่ยง',
 'เดินทางมาจากพื้นที่มีการระบาดของโรค',
 'เดินทางมาจากพื้นที่ระบาด',
 'เดินทางมาจากพื้นที่เสี่ยง จ.กรุงเทพฯ จอมทอง',
 'เดินทางมาจากพื้นที่เสี่ยงที่มีการระบาดของโรค',
 'เพื่อเฝ้าระวังเชื้อกลายพันธุ์',
 'แรงงานต่างด้าวตรวจก่อนขึ้นทะเบียน',
 'ในพื้นที่',
 'ไปยัง/มาจาก พื้นที่ระบาดกรุงเทพมหานคร',
 'ไปยังพื้นที่ที่มีการระบาด',
 'ไปสถานที่ชุมชน',
 'ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว',
 'ไปสถานที่เสี่ยง เช่น ตลาด สถานที่ชุมชน',
 'ไปสถานที่แออัด เช่น งานแฟร์ คอนเสิร์ต',
 'ไปเที่ยวสถานบันเทิงในอุบลที่พบการระบาดของโรค Ubar',
 'ไปแหล่งชุมชน/สถานที่คนหนาแน่น',
 'ไม่ระบุ'}

In [15]:
data_covid[['risk']] = data_covid[['risk']].fillna('ไม่มีข้อมูล')  # แทนค่า Missing ของคอลัมน์ 'risk' ด้วย 'ไม่มีข้อมูล'

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [16]:
data_covid.isnull().any()       # ดูว่าคอลัมน์ไหนมีค่า missing บ้าง จะเห็นว่าคอลัมน์ 'risk' เป็น False นั่นคือไม่มีค่า missing

announce_date        False
sex                  False
risk                 False
province_of_onset     True
dtype: bool

### **แก้ค่า Missing ของคอลัมน์ 'province_of_onset'**

In [17]:
set(data_covid['province_of_onset'])     # ลองดู set ข้อมูลของคอลัมน์ 'province_of_onset'

{'\tประจวบคีรีขันธ์',
 'USA',
 nan,
 '\xa0กาญจนบุรี',
 '\xa0ชลบุรี',
 '\xa0ตราด',
 '\xa0นครปฐม',
 '\xa0สมุทรสงคราม',
 '\xa0สมุทรสาคร',
 '\xa0อุทัยธานี',
 'กทม',
 'กทม.',
 'กบินทร์บุรี',
 'กระบี่',
 'กระบี่ี่',
 'กรุงเทพ',
 'กรุงเทพมหานคร',
 'กรุงเทพมหานคร.',
 'กรุงเทพมหานคร. / พระนครศรีอยุธยา',
 'กรุงเทพมหานคร. / ศรีสะเกษ',
 'กรุงเทพฯ',
 'กะทู้',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาญจบุรี',
 'กาญนบุรี',
 'กาฬสิน',
 'กาฬสินธิ์',
 'กาฬสินธุ์',
 'กาฬสินธุ์\xa0',
 'กาฬสินธ์',
 'กำเพงเพชร',
 'กำแพง',
 'กำแพงเพชร',
 'กำแพงเพชร\xa0',
 'กําแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'ขอนแก่่น',
 'ขัยนาท',
 'ขัยภูมิ',
 'ขานุวรลักษณ์บุรี',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คลองเตย',
 'จ.กรุงเทพมหานคร',
 'จ.ภูเก็ต',
 'จ.ราชบุรี',
 'จ.สุราษฎร์ธานี',
 'จังหวัดสมุทรสาคร',
 'จันทบุรี',
 'ฉะเชองเทราร',
 'ฉะเชิงเทรา',
 'ชมพร',
 'ชลบุรี',
 'ชลบุรี\t',
 'ชลบุรี\xa0',
 'ชลบุุรี',
 'ชอนแก่น',
 'ชัยนาถ',
 'ชัยนาท',
 'ชัยบาดาล',
 'ชัยภูมิ',
 'ชัยภูมิ\xa0',
 'ชุมพร',
 'ชุุมพร',
 'ชุุุมพร',
 'ดอนมดแดง',
 'ดินแดง',
 'ตรัง',
 'ตรััง',
 'ตราด',
 'ตราด\xa0',
 'ตาก',
 'ตากใบ',
 'ต่างจังหวัด',
 'ทุ่งเสลี่ยม',
 'ท้ายบ้าน',
 'ธารโต',
 'นคนปฐม',
 'นคปฐม',
 'นครนปฐม',
 'นครนาชสีมา',
 'นครนายก',
 'นครปฐม',
 'นครปฐม\xa0',
 'นครปบม',
 'นครพนม',
 'นครพนม\xa0',
 'นครยายก',
 'นครราขสีมา',
 'นครราชธานี',
 'นครราชศรีมา',
 'นครราชสสีมา',
 'นครราชสีมา',
 'นครราชสีมา ลพบุรี',
 'นครราชสีมา\xa0',
 'นครศรธรรมราช',
 'นครศรี',
 'นครศรีธรมมราช',
 'นครศรีธรมราช',
 'นครศรีธรรมราข',
 'นครศรีธรรมราช',
 'นครศรีฯ',
 'นครศรีีธรรมราช',
 'นครศร๊ธรรมราช',
 'นครศร๊ะรรมราช',
 'นครสรรค์',
 'นครสรีธรรมราช',
 'นครสวรรค',
 'นครสวรรค์',
 'นครสวรรค์\xa0',
 'นครสีธรรมราช',
 'นครฯ',
 'นคราชสีมา',
 'นครีศรีธรรมราช',
 'นตรนายก',
 'นตรปฐม',
 'นนทบุรี',
 'นนทบุรี\xa0',
 'นนทบุุรี',
 'นนทุบรี',
 'นนทุรี',
 'นนมบุรี',
 'นรศรีธรรมราช',
 'นราธิวาส',
 'นราธิวาส\u200b',
 'นราธฺวาส',
 'นอกเขต',
 'นาราธิวาส',
 'นาวัง',
 'น่าน',
 'น่าน/ฉะเชิงเทรา',
 'บางกรวย',
 'บางกะปิ',
 'บางนา',
 'บางปะอิน',
 'บางละมุง',
 'บางศรีเมือง',
 'บางเพียง',
 'บึงกาฬ',
 'บึงโขงหลง',
 'บุรีรัมภ์',
 'บุรีรัมย์',
 'บุรีรัมย์\xa0',
 'บุรีรัยม์',
 'บุรีรีมย์',
 'บ้านหลวง',
 'ปจ',
 'ปทึมธานี',
 'ปทุทธานี',
 'ปทุมฑานี',
 'ปทุมทานี',
 'ปทุมธาน',
 'ปทุมธานี',
 'ปทุมธานี.',
 'ปทุมธานี\xa0',
 'ปทุมธานีี',
 'ปทุมาธานี',
 'ปทุุมธานี',
 'ปธุมธานี',
 'ปมุมธานี',
 'ประจวนคีรีขันธ็',
 'ประจวบ',
 'ประจวบคิรีขันธ์',
 'ประจวบคีรขันธ์',
 'ประจวบคีรขัันธ์',
 'ประจวบคีรีขัน',
 'ประจวบคีรีขันธื',
 'ประจวบคีรีขันธฺ',
 'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์\xa0',
 'ประจวบคีรีขันธ์์',
 'ประจวบคีรีขัันธ์',
 'ประจวบคีีรีขันธ์',
 'ประจวบฯ',
 'ประทุมธานี',
 'ประเทศกัมพูชา',
 'ปราจีนบุรี',
 'ปราจีบุรี',
 'ปลวกแดง',
 'ปลายพระยา',
 'ปอยเปต',
 'ปัตตนรี',
 'ปัตตานนี',
 'ปัตตานี',
 'ปัตตานีี',
 'ปัตาตานี',
 'ปัว',
 'ปััตตานี',
 'ปุทมธานี',
 'ป่าโมก',
 'พม่า',
 'พรหมพิราม',
 'พระนครศรียุธยา',
 'พระนครศรีอยุทธยา',
 'พระนครศรีอยุทยา',
 'พระนครศรีอยุธยา',
 'พระนครศรีอยุธยา\xa0',
 'พะเยา',
 'พังงา',
 'พัทยา',
 'พัทลุง',
 'พัทลุุง',
 'พัังงา',
 'พิจิตร',
 'พิษณุโลก',
 'พิษณุโลก\xa0',
 'พิษณูโลก',
 'ฟินแลนด์',
 'ภาษีเจริญ',
 'ภุเก็ต',
 'ภูุเก็ต',
 'ภููเก็ต',
 'ภูเก็ต',
 'ภูเก็็ต',
 'ภูเพียง',
 'มหาสาคาม',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'มุกาดหาร',
 'ยะลา',
 'ยานนาวา',
 'ยโสธร',
 'ร.จ.จ.นราธิวาส',
 'รอ',
 'ระนอง',
 'ระบุ',
 'ระยอง',
 'ระยอง\xa0',
 'ระอยง',
 'ราชบบุรี',
 'ราชบุรี',
 'ราชบุรีี',
 'ราชบุรี\u200b',
 'ราชุรี',
 'ราชเทวี',
 'ร้องกวาง',
 'ร้อยเอ็ด',
 'ลบุรี',
 'ลพบุรี',
 'ลพบุรี.',
 'ลพบุรี\xa0',
 'ลอง',
 'ลาดกระบัง',
 'ลาดพร้าว',
 'ลาว',
 'ลำปาง',
 'ลำพูน',
 'ลำพูน\u200b',
 'ลำพููน',
 'ลำลูกกา',
 'วังชิ้น',
 'วังทอง',
 'วิเศษชัยชาญ',
 'ศรีษะสะเกษ',
 'ศรีษะเกษ',
 'ศรีสระเกษ',
 'ศรีสะเกษ',
 'ศีรสะเกษ',
 'สกลนคร',
 'สครสวรรค์',
 'สงขลา',
 'สงขลา\u200b',
 'สตูล',
 'สถานที่ทำงาน',
 'สพรรณบุรี',
 'สมถทรปราการ',
 'สมทรสงคราม',
 'สมทรสาคร',
 'สมุครปราการ',
 'สมุครสาคร',
 'สมุท',
 'สมุทปราการ',
 'สมุทรปรากร',
 'สมุทรปรากรร',
 'สมุทรปรากา',
 'สมุทรปราการ',
 'สมุทรปราการ\xa0',
 'สมุทรศาคร',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทรสาคร\xa0',
 'สมุทรสาคา',
 'สมุทรสาคาร',
 'สมุทรสาทร',
 'สมุทรสารคร',
 'สมุทราปราการ',
 'สมุทราสาคร',
 'สมุทสงคราม',
 'สมุทสาคร',
 'สมุย',
 'สมุุทรปราการ',
 'สมุุทรสงคราม',
 'สมุุทรสาคร',
 'สระก้ว',
 'สระบุรี',
 'สระบุรี\xa0',
 'สระแก้ว',
 'สรินทร์',
 'สวิสเซอร์แลนด์',
 'สอง',
 'สองแคว',
 'สะพานสูง',
 'สะแก้ว',
 'สัตหีบ',
 'สัมผัสผู้ป่วยยืนยัน COVID20',
 'สามุทรสาคร',
 'สารคาม',
 'สารภี',
 'สิงห์บุรี',
 'สิงห์บุรี\xa0',
 'สุทรปราการ',
 'สุพรรญบุรี',
 'สุพรรณบุรั',
 'สุพรรณบุรี',
 'สุพรรณบุรี\xa0',
 'สุมทรปราการ',
 'สุมทรสาคร',
 'สุมุทรปราการ',
 'สุมุทรสาคร',
 'สุระบุรี',
 'สุราษ',
 'สุราษฎณ์ธานี',
 'สุราษฎธานี',
 'สุราษฎร์',
 'สุราษฎร์ธานี',
 'สุราษฎร์ฯ',
 'สุราษฎร์์ธานี',
 'สุราษฎ์ธานี',
 'สุราษฏร์ธานี',
 'สุราษธานี',
 'สุราษร์ฎธานี',
 'สุราษร์ธานี',
 'สุราษฯ',
 'สุรินทรื',
 'สุรินทร์',
 'สุรินทร์ 32150',
 'สุรินทร์,รีสะเกษ',
 'สุรินทร์\xa0',
 'สุริมทร์',
 'สุริะแก้ว',
 'สุวรรณภูมิ',
 'สุุพรรณบุรี',
 'สุุราษฎร์ธานี',
 'สุุราษฏร์ธานี',
 'สุุราษฯ',
 'สุุรินทร์',
 'สุุุโขทัย',
 'สุโขทับ',
 'สุโขทัย',
 'สุโขทัย\xa0',
 'สูงเม่น',
 'หนวงบัวลำภู',
 'หนองคาย',
 'หนองงคาย',
 'หนองบัวภู',
 'หนองบัวลำพูน',
 'หนองบัวลำภู',
 'หนองบัวลําภู',
 'หนองบััวลำภู',
 'หนองม่วงไข่',
 'หนอบัวลำภู',
 'หลายจังหวัด',
 'หัวหิน',
 'ห้วยขวาง',
 'อยุทธยา',
 'อยุธยา',
 'อยุุธยา',
 'อำนาจเจริญ',
 'อำนาจเจิญ',
 'อำนาญเจริญ',
 'อำนาเจริญ',
 'อิสราเอล',
 'อุดธานี',
 'อุดร',
 'อุดรธาณี',
 'อุดรธานี',
 'อุดรธานี\xa0',
 'อุดรธานีี',
 'อุดรราชธานี',
 'อุตรดิตถ์',
 'อุตรดิตถ์\xa0',
 'อุตรดิตถ์์',
 'อุตรดิษถ์',
 'อุตรดิิตถ์',
 'อุตรติดถ์',
 'อุทัยธานี',
 'อุทัยานี',
 'อุบลราขธานี',
 'อุบลราชธานี',
 'อุบลราชธานี\xa0',
 'อุุครดิตถ์',
 'อุุดรธาน',
 'อุุดรธานี',
 'อุุตรดิตถ์',
 'อุุทัยธานี',
 'อุุบลราชธานี',
 'อ่งทอง',
 'อ่างทอง',
 'อ่างทอง\xa0',
 'อํานาจเจริญ',
 'เชิงเทรา',
 'เชียงราย',
 'เชียงใหม่',
 'เชียรใหญ่',
 'เชีียงราย',
 'เชีียงใหม่',
 'เด่นชัย',
 'เพขรบุรี',
 'เพขรบูรณื',
 'เพขรบูรณ์',
 'เพชรบุรณ์',
 'เพชรบุรี',
 'เพชรบุรึ',
 'เพชรบุุรี',
 'เพชรบุูรณ์',
 'เพชรบูรณ์',
 'เพชรบูรณ์\xa0',
 'เพชรบูร์',
 'เพชรบููรณ์',
 'เมือง',
 'เมืองตาก',
 'เมืองน่าน',
 'เมืองปัตตานี',
 'เรือ',
 'เลย',
 'เลย\xa0',
 'เวียงจันทร์',
 'เวียงสา',
 'แพร่',
 'แม่ทะ',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'โพธิ์ทอง',
 'ไชโย',
 'ไม่มีชื่อหอพัก',
 'ไม่ระบุ'}

In [18]:
# แทนค่า Missing ของคอลัมน์ 'province_of_onset' ด้วย 'ไม่ระบุ'
data_covid[['province_of_onset']] = data_covid[['province_of_onset']].fillna('ไม่ระบุ')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [19]:
data_covid.isnull().any() # ดูว่าคอลัมน์ไหนมีค่า missing บ้าง จะเห็นว่าคอลัมน์ 'province_of_onset' เป็น False นั่นคือไม่มีค่า missing

announce_date        False
sex                  False
risk                 False
province_of_onset    False
dtype: bool

In [20]:
set(data_covid['province_of_onset']) # ลองดู set ข้อมูลของคอลัมน์ 'province_of_onset'

{'\tประจวบคีรีขันธ์',
 'USA',
 '\xa0กาญจนบุรี',
 '\xa0ชลบุรี',
 '\xa0ตราด',
 '\xa0นครปฐม',
 '\xa0สมุทรสงคราม',
 '\xa0สมุทรสาคร',
 '\xa0อุทัยธานี',
 'กทม',
 'กทม.',
 'กบินทร์บุรี',
 'กระบี่',
 'กระบี่ี่',
 'กรุงเทพ',
 'กรุงเทพมหานคร',
 'กรุงเทพมหานคร.',
 'กรุงเทพมหานคร. / พระนครศรีอยุธยา',
 'กรุงเทพมหานคร. / ศรีสะเกษ',
 'กรุงเทพฯ',
 'กะทู้',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาญจบุรี',
 'กาญนบุรี',
 'กาฬสิน',
 'กาฬสินธิ์',
 'กาฬสินธุ์',
 'กาฬสินธุ์\xa0',
 'กาฬสินธ์',
 'กำเพงเพชร',
 'กำแพง',
 'กำแพงเพชร',
 'กำแพงเพชร\xa0',
 'กําแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'ขอนแก่่น',
 'ขัยนาท',
 'ขัยภูมิ',
 'ขานุวรลักษณ์บุรี',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คลองเตย',
 'จ.กรุงเทพมหานคร',
 'จ.ภูเก็ต',
 'จ.ราชบุรี',
 'จ.สุราษฎร์ธานี',
 'จังหวัดสมุทรสาคร',
 'จันทบุรี',
 'ฉะเชองเทราร',
 'ฉะเชิงเทรา',
 'ชมพร',
 'ชลบุรี',
 'ชลบุรี\t',
 'ชลบุรี\xa0',
 'ชลบุุรี',
 'ชอนแก่น',
 'ชัยนาถ',
 'ชัยนาท',
 'ชัยบาดาล',
 'ชัยภูมิ',
 'ชัยภูมิ\xa0',
 'ชุมพร',
 'ชุุมพร',
 'ชุุุมพร',
 'ดอนมดแดง',
 'ดินแดง',
 'ตรัง',
 'ตรััง',
 'ตราด',
 'ตราด\xa0',
 'ตาก',
 'ตากใบ',
 'ต่างจังหวัด',
 'ทุ่งเสลี่ยม',
 'ท้ายบ้าน',
 'ธารโต',
 'นคนปฐม',
 'นคปฐม',
 'นครนปฐม',
 'นครนาชสีมา',
 'นครนายก',
 'นครปฐม',
 'นครปฐม\xa0',
 'นครปบม',
 'นครพนม',
 'นครพนม\xa0',
 'นครยายก',
 'นครราขสีมา',
 'นครราชธานี',
 'นครราชศรีมา',
 'นครราชสสีมา',
 'นครราชสีมา',
 'นครราชสีมา ลพบุรี',
 'นครราชสีมา\xa0',
 'นครศรธรรมราช',
 'นครศรี',
 'นครศรีธรมมราช',
 'นครศรีธรมราช',
 'นครศรีธรรมราข',
 'นครศรีธรรมราช',
 'นครศรีฯ',
 'นครศรีีธรรมราช',
 'นครศร๊ธรรมราช',
 'นครศร๊ะรรมราช',
 'นครสรรค์',
 'นครสรีธรรมราช',
 'นครสวรรค',
 'นครสวรรค์',
 'นครสวรรค์\xa0',
 'นครสีธรรมราช',
 'นครฯ',
 'นคราชสีมา',
 'นครีศรีธรรมราช',
 'นตรนายก',
 'นตรปฐม',
 'นนทบุรี',
 'นนทบุรี\xa0',
 'นนทบุุรี',
 'นนทุบรี',
 'นนทุรี',
 'นนมบุรี',
 'นรศรีธรรมราช',
 'นราธิวาส',
 'นราธิวาส\u200b',
 'นราธฺวาส',
 'นอกเขต',
 'นาราธิวาส',
 'นาวัง',
 'น่าน',
 'น่าน/ฉะเชิงเทรา',
 'บางกรวย',
 'บางกะปิ',
 'บางนา',
 'บางปะอิน',
 'บางละมุง',
 'บางศรีเมือง',
 'บางเพียง',
 'บึงกาฬ',
 'บึงโขงหลง',
 'บุรีรัมภ์',
 'บุรีรัมย์',
 'บุรีรัมย์\xa0',
 'บุรีรัยม์',
 'บุรีรีมย์',
 'บ้านหลวง',
 'ปจ',
 'ปทึมธานี',
 'ปทุทธานี',
 'ปทุมฑานี',
 'ปทุมทานี',
 'ปทุมธาน',
 'ปทุมธานี',
 'ปทุมธานี.',
 'ปทุมธานี\xa0',
 'ปทุมธานีี',
 'ปทุมาธานี',
 'ปทุุมธานี',
 'ปธุมธานี',
 'ปมุมธานี',
 'ประจวนคีรีขันธ็',
 'ประจวบ',
 'ประจวบคิรีขันธ์',
 'ประจวบคีรขันธ์',
 'ประจวบคีรขัันธ์',
 'ประจวบคีรีขัน',
 'ประจวบคีรีขันธื',
 'ประจวบคีรีขันธฺ',
 'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์\xa0',
 'ประจวบคีรีขันธ์์',
 'ประจวบคีรีขัันธ์',
 'ประจวบคีีรีขันธ์',
 'ประจวบฯ',
 'ประทุมธานี',
 'ประเทศกัมพูชา',
 'ปราจีนบุรี',
 'ปราจีบุรี',
 'ปลวกแดง',
 'ปลายพระยา',
 'ปอยเปต',
 'ปัตตนรี',
 'ปัตตานนี',
 'ปัตตานี',
 'ปัตตานีี',
 'ปัตาตานี',
 'ปัว',
 'ปััตตานี',
 'ปุทมธานี',
 'ป่าโมก',
 'พม่า',
 'พรหมพิราม',
 'พระนครศรียุธยา',
 'พระนครศรีอยุทธยา',
 'พระนครศรีอยุทยา',
 'พระนครศรีอยุธยา',
 'พระนครศรีอยุธยา\xa0',
 'พะเยา',
 'พังงา',
 'พัทยา',
 'พัทลุง',
 'พัทลุุง',
 'พัังงา',
 'พิจิตร',
 'พิษณุโลก',
 'พิษณุโลก\xa0',
 'พิษณูโลก',
 'ฟินแลนด์',
 'ภาษีเจริญ',
 'ภุเก็ต',
 'ภูุเก็ต',
 'ภููเก็ต',
 'ภูเก็ต',
 'ภูเก็็ต',
 'ภูเพียง',
 'มหาสาคาม',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'มุกาดหาร',
 'ยะลา',
 'ยานนาวา',
 'ยโสธร',
 'ร.จ.จ.นราธิวาส',
 'รอ',
 'ระนอง',
 'ระบุ',
 'ระยอง',
 'ระยอง\xa0',
 'ระอยง',
 'ราชบบุรี',
 'ราชบุรี',
 'ราชบุรีี',
 'ราชบุรี\u200b',
 'ราชุรี',
 'ราชเทวี',
 'ร้องกวาง',
 'ร้อยเอ็ด',
 'ลบุรี',
 'ลพบุรี',
 'ลพบุรี.',
 'ลพบุรี\xa0',
 'ลอง',
 'ลาดกระบัง',
 'ลาดพร้าว',
 'ลาว',
 'ลำปาง',
 'ลำพูน',
 'ลำพูน\u200b',
 'ลำพููน',
 'ลำลูกกา',
 'วังชิ้น',
 'วังทอง',
 'วิเศษชัยชาญ',
 'ศรีษะสะเกษ',
 'ศรีษะเกษ',
 'ศรีสระเกษ',
 'ศรีสะเกษ',
 'ศีรสะเกษ',
 'สกลนคร',
 'สครสวรรค์',
 'สงขลา',
 'สงขลา\u200b',
 'สตูล',
 'สถานที่ทำงาน',
 'สพรรณบุรี',
 'สมถทรปราการ',
 'สมทรสงคราม',
 'สมทรสาคร',
 'สมุครปราการ',
 'สมุครสาคร',
 'สมุท',
 'สมุทปราการ',
 'สมุทรปรากร',
 'สมุทรปรากรร',
 'สมุทรปรากา',
 'สมุทรปราการ',
 'สมุทรปราการ\xa0',
 'สมุทรศาคร',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทรสาคร\xa0',
 'สมุทรสาคา',
 'สมุทรสาคาร',
 'สมุทรสาทร',
 'สมุทรสารคร',
 'สมุทราปราการ',
 'สมุทราสาคร',
 'สมุทสงคราม',
 'สมุทสาคร',
 'สมุย',
 'สมุุทรปราการ',
 'สมุุทรสงคราม',
 'สมุุทรสาคร',
 'สระก้ว',
 'สระบุรี',
 'สระบุรี\xa0',
 'สระแก้ว',
 'สรินทร์',
 'สวิสเซอร์แลนด์',
 'สอง',
 'สองแคว',
 'สะพานสูง',
 'สะแก้ว',
 'สัตหีบ',
 'สัมผัสผู้ป่วยยืนยัน COVID20',
 'สามุทรสาคร',
 'สารคาม',
 'สารภี',
 'สิงห์บุรี',
 'สิงห์บุรี\xa0',
 'สุทรปราการ',
 'สุพรรญบุรี',
 'สุพรรณบุรั',
 'สุพรรณบุรี',
 'สุพรรณบุรี\xa0',
 'สุมทรปราการ',
 'สุมทรสาคร',
 'สุมุทรปราการ',
 'สุมุทรสาคร',
 'สุระบุรี',
 'สุราษ',
 'สุราษฎณ์ธานี',
 'สุราษฎธานี',
 'สุราษฎร์',
 'สุราษฎร์ธานี',
 'สุราษฎร์ฯ',
 'สุราษฎร์์ธานี',
 'สุราษฎ์ธานี',
 'สุราษฏร์ธานี',
 'สุราษธานี',
 'สุราษร์ฎธานี',
 'สุราษร์ธานี',
 'สุราษฯ',
 'สุรินทรื',
 'สุรินทร์',
 'สุรินทร์ 32150',
 'สุรินทร์,รีสะเกษ',
 'สุรินทร์\xa0',
 'สุริมทร์',
 'สุริะแก้ว',
 'สุวรรณภูมิ',
 'สุุพรรณบุรี',
 'สุุราษฎร์ธานี',
 'สุุราษฏร์ธานี',
 'สุุราษฯ',
 'สุุรินทร์',
 'สุุุโขทัย',
 'สุโขทับ',
 'สุโขทัย',
 'สุโขทัย\xa0',
 'สูงเม่น',
 'หนวงบัวลำภู',
 'หนองคาย',
 'หนองงคาย',
 'หนองบัวภู',
 'หนองบัวลำพูน',
 'หนองบัวลำภู',
 'หนองบัวลําภู',
 'หนองบััวลำภู',
 'หนองม่วงไข่',
 'หนอบัวลำภู',
 'หลายจังหวัด',
 'หัวหิน',
 'ห้วยขวาง',
 'อยุทธยา',
 'อยุธยา',
 'อยุุธยา',
 'อำนาจเจริญ',
 'อำนาจเจิญ',
 'อำนาญเจริญ',
 'อำนาเจริญ',
 'อิสราเอล',
 'อุดธานี',
 'อุดร',
 'อุดรธาณี',
 'อุดรธานี',
 'อุดรธานี\xa0',
 'อุดรธานีี',
 'อุดรราชธานี',
 'อุตรดิตถ์',
 'อุตรดิตถ์\xa0',
 'อุตรดิตถ์์',
 'อุตรดิษถ์',
 'อุตรดิิตถ์',
 'อุตรติดถ์',
 'อุทัยธานี',
 'อุทัยานี',
 'อุบลราขธานี',
 'อุบลราชธานี',
 'อุบลราชธานี\xa0',
 'อุุครดิตถ์',
 'อุุดรธาน',
 'อุุดรธานี',
 'อุุตรดิตถ์',
 'อุุทัยธานี',
 'อุุบลราชธานี',
 'อ่งทอง',
 'อ่างทอง',
 'อ่างทอง\xa0',
 'อํานาจเจริญ',
 'เชิงเทรา',
 'เชียงราย',
 'เชียงใหม่',
 'เชียรใหญ่',
 'เชีียงราย',
 'เชีียงใหม่',
 'เด่นชัย',
 'เพขรบุรี',
 'เพขรบูรณื',
 'เพขรบูรณ์',
 'เพชรบุรณ์',
 'เพชรบุรี',
 'เพชรบุรึ',
 'เพชรบุุรี',
 'เพชรบุูรณ์',
 'เพชรบูรณ์',
 'เพชรบูรณ์\xa0',
 'เพชรบูร์',
 'เพชรบููรณ์',
 'เมือง',
 'เมืองตาก',
 'เมืองน่าน',
 'เมืองปัตตานี',
 'เรือ',
 'เลย',
 'เลย\xa0',
 'เวียงจันทร์',
 'เวียงสา',
 'แพร่',
 'แม่ทะ',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'โพธิ์ทอง',
 'ไชโย',
 'ไม่มีชื่อหอพัก',
 'ไม่ระบุ'}

In [21]:
len(set(data_covid['province_of_onset']))

437

In [22]:
#ทำข้อมูลให้เหมือนกัน
data_covid['province_of_onset'].replace({'\tประจวบคีรีขันธ์':'ประจวบคีรีขันธ์',
 'USA':'กรุงเทพมหานคร',
 '\xa0กาญจนบุรี':'กาญจนบุรี',
 '\xa0ชลบุรี':'ชลบุรี',
 '\xa0ตราด':'ตราด',
 '\xa0นครปฐม':'นครปฐม',
 '\xa0สมุทรสงคราม':'สมุทรสงคราม',
 '\xa0สมุทรสาคร':'สมุทรสาคร',
 '\xa0อุทัยธานี':'อุทัยธานี',
 'กทม':'กรุงเทพมหานคร',
 'กทม.':'กรุงเทพมหานคร',
 'กบินทร์บุรี':'ปราจีนบุรี',
 'กระบี่':'กระบี่',
 'กระบี่ี่':'กระบี่',
 'กรุงเทพ':'กรุงเทพมหานคร',
 'กรุงเทพมหานคร':'กรุงเทพมหานคร',
 'กรุงเทพมหานคร.':'กรุงเทพมหานคร',
 'กรุงเทพมหานคร. / พระนครศรีอยุธยา':'กรุงเทพมหานคร',
 'กรุงเทพมหานคร. / ศรีสะเกษ':'กรุงเทพมหานคร',
 'กรุงเทพฯ':'กรุงเทพมหานคร',
 'กะทู้':'ไม่ระบุ',
 'กัมพูชา':'กรุงเทพมหานคร',
 'กาญจนบุรี':'กาญจนบุรี',
 'กาญจบุรี':'กาญจนบุรี',
 'กาญนบุรี':'กาญจนบุรี',
 'กาฬสิน':'กาฬสินธุ์',
 'กาฬสินธิ์':'กาฬสินธุ์',
 'กาฬสินธุ์':'กาฬสินธุ์',
 'กาฬสินธุ์\xa0':'กาฬสินธุ์',
 'กาฬสินธ์':'กาฬสินธุ์',
 'กำเพงเพชร':'กำแพงเพชร',
 'กำแพง':'กำแพงเพชร',
 'กำแพงเพชร':'กำแพงเพชร',
 'กำแพงเพชร\xa0':'กำแพงเพชร',
 'กําแพงเพชร':'กำแพงเพชร',
 'ขอนแก่น':'ขอนแก่น',
 'ขอนแก่น\xa0':'ขอนแก่น',
 'ขอนแก่่น':'ขอนแก่น',
 'ขัยนาท':'ชัยนาท',
 'ขัยภูมิ':'ชัยภูมิ',
 'ขานุวรลักษณ์บุรี':'กำแพงเพชร',
 'คนไทยเดินทางกลับจากต่างประเทศ':'กรุงเทพมหานคร',
 'คลองเตย':'กรุงเทพมหานคร',
 'จ.กรุงเทพมหานคร':'กรุงเทพมหานคร',
 'จ.ภูเก็ต':'ภูเก็ต',
 'จ.ราชบุรี':'ราชบุรี',
 'จ.สุราษฎร์ธานี':'สุราษฎร์ธานี',
 'จังหวัดสมุทรสาคร':'สมุทรสาคร',
 'จันทบุรี':'จันทบุรี',
 'ฉะเชองเทราร':'ฉะเชิงเทรา',
 'ฉะเชิงเทรา':'ฉะเชิงเทรา',
 'ชมพร':'ชุมพร',
 'ชลบุรี':'ชลบุรี',
 'ชลบุรี\t':'ชลบุรี',
 'ชลบุรี\xa0':'ชลบุรี',
 'ชลบุุรี':'ชลบุรี',
 'ชอนแก่น':'ขอนแก่น',
 'ชัยนาถ':'ชัยนาท',
 'ชัยนาท':'ชัยนาท',
 'ชัยบาดาล':'ลพบุรี',
 'ชัยภูมิ':'ชัยภูมิ',
 'ชัยภูมิ\xa0':'ชัยภูมิ',
 'ชุมพร':'ชุมพร',
 'ชุุมพร':'ชุมพร',
 'ชุุุมพร':'ชุมพร',
 'ดอนมดแดง':'อุบลราชธานี',
 'ดินแดง':'กรุงเทพมหานคร',
 'ตรัง':'ตรัง',
 'ตรััง':'ตรัง',
 'ตราด':'ตราด',
 'ตราด\xa0':'ตราด',
 'ตาก':'ตาก',
 'ตากใบ':'นราธิวาส',
 'ต่างจังหวัด':'กรุงเทพมหานคร',
 'ทุ่งเสลี่ยม':'สุโขทัย',
 'ท้ายบ้าน':'สมุทรปราการ',
 'ธารโต':'ยะลา',
 'นคนปฐม':'นครปฐม',
 'นคปฐม':'นครปฐม',
 'นครนปฐม':'นครปฐม',
 'นครนาชสีมา':'นครราชสีมา',
 'นครนายก':'นครนายก',
 'นครปฐม':'นครปฐม',
 'นครปฐม\xa0':'นครปฐม',
 'นครปบม':'นครปฐม',
 'นครพนม':'นครพนม',
 'นครพนม\xa0':'นครพนม',
 'นครยายก':'นครนายก',
 'นครราขสีมา':'นครราชสีมา',
 'นครราชธานี':'นครราชสีมา',
 'นครราชศรีมา':'นครราชสีมา',
 'นครราชสสีมา':'นครราชสีมา',
 'นครราชสีมา':'นครราชสีมา',
 'นครราชสีมา ลพบุรี':'นครราชสีมา',
 'นครราชสีมา\xa0':'นครราชสีมา',
 'นครศรธรรมราช':'นครศรีธรรมราช',
 'นครศรี':'นครศรีธรรมราช',
 'นครศรีธรมมราช':'นครศรีธรรมราช',
 'นครศรีธรมราช':'นครศรีธรรมราช',
 'นครศรีธรรมราข':'นครศรีธรรมราช',
 'นครศรีธรรมราช':'นครศรีธรรมราช',
 'นครศรีฯ':'นครศรีธรรมราช',
 'นครศรีีธรรมราช':'นครศรีธรรมราช',
 'นครศร๊ธรรมราช':'นครศรีธรรมราช',
 'นครศร๊ะรรมราช':'นครศรีธรรมราช',
 'นครสรรค์':'นครสวรรค์',
 'นครสรีธรรมราช':'นครศรีธรรมราช',
 'นครสวรรค':'นครสวรรค์',
 'นครสวรรค์':'นครสวรรค์',
 'นครสวรรค์\xa0':'นครสวรรค์',
 'นครสีธรรมราช':'นครศรีธรรมราช',
 'นครฯ':'นครราชสีมา',
 'นคราชสีมา':'นครราชสีมา',
 'นครีศรีธรรมราช':'นครศรีธรรมราช',
 'นตรนายก':'นครนายก',
 'นตรปฐม':'นครปฐม',
 'นนทบุรี':'นนทบุรี',
 'นนทบุรี\xa0':'นนทบุรี',
 'นนทบุุรี':'นนทบุรี',
 'นนทุบรี':'นนทบุรี',
 'นนทุรี':'นนทบุรี',
 'นนมบุรี':'นนทบุรี',
 'นรศรีธรรมราช':'นครศรีธรรมราช',
 'นราธิวาส':'นราธิวาส',
 'นราธิวาส\u200b':'นราธิวาส',
 'นราธฺวาส':'นราธิวาส',
 'นอกเขต':'ไม่ระบุ',
 'นาราธิวาส':'นราธิวาส',
 'นาวัง':'หนองบัวลำภู',
 'น่าน':'น่าน',
 'น่าน/ฉะเชิงเทรา':'น่าน',
 'บางกรวย':'นนทบุรี',
 'บางกะปิ':'กรุงเทพมหานคร',
 'บางนา':'กรุงเทพมหานคร',
 'บางปะอิน':'กรุงเทพมหานคร',
 'บางละมุง':'ชลบุรี',
 'บางศรีเมือง':'นนทบุรี',
 'บางเพียง':'สมุทรปราการ',
 'บึงกาฬ':'บึงกาฬ',
 'บึงโขงหลง':'บึงกาฬ',
 'บุรีรัมภ์':'บุรีรัมย์',
 'บุรีรัมย์':'บุรีรัมย์',
 'บุรีรัมย์\xa0':'บุรีรัมย์',
 'บุรีรัยม์':'บุรีรัมย์',
 'บุรีรีมย์':'บุรีรัมย์',
 'บ้านหลวง':'น่าน',
 'ปจ':'ไม่ระบุ',
 'ปทึมธานี':'ปทุมธานี',
 'ปทุทธานี':'ปทุมธานี',
 'ปทุมฑานี':'ปทุมธานี',
 'ปทุมทานี':'ปทุมธานี',
 'ปทุมธาน':'ปทุมธานี',
 'ปทุมธานี':'ปทุมธานี',
 'ปทุมธานี.':'ปทุมธานี',
 'ปทุมธานี\xa0':'ปทุมธานี',
 'ปทุมธานีี':'ปทุมธานี',
 'ปทุมาธานี':'ปทุมธานี',
 'ปทุุมธานี':'ปทุมธานี',
 'ปธุมธานี':'ปทุมธานี',
 'ปมุมธานี':'ปทุมธานี',
 'ประจวนคีรีขันธ็':'ประจวบคีรีขันธ์',
 'ประจวบ':'ประจวบคีรีขันธ์',
 'ประจวบคิรีขันธ์':'ประจวบคีรีขันธ์',
 'ประจวบคีรขันธ์':'ประจวบคีรีขันธ์',
 'ประจวบคีรขัันธ์':'ประจวบคีรีขันธ์',
 'ประจวบคีรีขัน':'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธื':'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธฺ':'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์':'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์\xa0':'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์์':'ประจวบคีรีขันธ์',
 'ประจวบคีรีขัันธ์':'ประจวบคีรีขันธ์',
 'ประจวบคีีรีขันธ์':'ประจวบคีรีขันธ์',
 'ประจวบฯ':'ประจวบคีรีขันธ์',
 'ประทุมธานี':'ปทุมธานี',
 'ประเทศกัมพูชา':'กรุงเทพมหานคร',
 'ปราจีนบุรี':'ปราจีนบุรี',
 'ปราจีบุรี':'ปราจีนบุรี',
 'ปลวกแดง':'ระยอง',
 'ปลายพระยา':'กระบี่',
 'ปอยเปต':'กรุงเทพมหานคร',
 'ปัตตนรี':'ปัตตานี',
 'ปัตตานนี':'ปัตตานี',
 'ปัตตานี':'ปัตตานี',
 'ปัตตานีี':'ปัตตานี',
 'ปัตาตานี':'ปัตตานี',
 'ปัว':'เพชรบุรี',
 'ปััตตานี':'ปัตตานี',
 'ปุทมธานี':'ปทุมธานี',
 'ป่าโมก':'สุโขทัย',
 'พม่า':'กรุงเทพมหานคร',
 'พรหมพิราม':'พิษณุโลก',
 'พระนครศรียุธยา':'พระนครศรีอยุธยา',
 'พระนครศรีอยุทธยา':'พระนครศรีอยุธยา',
 'พระนครศรีอยุทยา':'พระนครศรีอยุธยา',
 'พระนครศรีอยุธยา':'พระนครศรีอยุธยา',
 'พระนครศรีอยุธยา\xa0':'พระนครศรีอยุธยา',
 'พะเยา':'พะเยา',
 'พังงา':'พังงา',
 'พัทยา':'ชลบุรี',
 'พัทลุง':'พัทลุง',
 'พัทลุุง':'พัทลุง',
 'พัังงา':'พังงา',
 'พิจิตร':'พิจิตร',
 'พิษณุโลก':'พิษณุโลก',
 'พิษณุโลก\xa0':'พิษณุโลก',
 'พิษณูโลก':'พิษณุโลก',
 'ฟินแลนด์':'กรุงเทพมหานคร',
 'ภาษีเจริญ':'กรุงเทพมหานคร',
 'ภุเก็ต':'ภูเก็ต',
 'ภูุเก็ต':'ภูเก็ต',
 'ภููเก็ต':'ภูเก็ต',
 'ภูเก็ต':'ภูเก็ต',
 'ภูเก็็ต':'ภูเก็ต',
 'ภูเพียง':'น่าน',
 'มหาสาคาม':'มหาสารคาม',
 'มหาสารคาม':'มหาสารคาม',
 'มาเลเซีย':'กรุงเทพมหานคร',
 'มุกดาหาร':'มุกดาหาร',
 'มุกาดหาร':'มุกดาหาร',
 'ยะลา':'ยะลา',
 'ยานนาวา':'กรุงเทพมหานคร',
 'ยโสธร':'ยโสธร',
 'ร.จ.จ.นราธิวาส':'นราธิวาส',
 'รอ':'ไม่ระบุ',
 'ระนอง':'ระนอง',
 'ระบุ':'ไม่ระบุ',
 'ระยอง':'ระยอง',
 'ระยอง\xa0':'ระยอง',
 'ระอยง':'ระยอง',
 'ราชบบุรี':'ราชบุรี',
 'ราชบุรี':'ราชบุรี',
 'ราชบุรีี':'ราชบุรี',
 'ราชบุรี\u200b':'ราชบุรี',
 'ราชุรี':'ราชบุรี',
 'ราชเทวี':'กรุงเทพมหานคร',
 'ร้องกวาง':'แพร่',
 'ร้อยเอ็ด':'ร้อยเอ็ด',
 'ลบุรี':'ลพบุรี',
 'ลพบุรี':'ลพบุรี',
 'ลพบุรี.':'ลพบุรี',
 'ลพบุรี\xa0':'ลพบุรี',
 'ลอง':'ไม่ระบุ',
 'ลาดกระบัง':'กรุงเทพมหานคร',
 'ลาดพร้าว':'กรุงเทพมหานคร',
 'ลาว':'กรุงเทพมหานคร',
 'ลำปาง':'ลำปาง',
 'ลำพูน':'ลำพูน',
 'ลำพูน\u200b':'ลำพูน',
 'ลำพููน':'ลำพูน',
 'ลำลูกกา':'กรุงเทพมหานคร',
 'วังชิ้น':'แพร่',
 'วังทอง':'พิษณุโลก',
 'วิเศษชัยชาญ':'อ่างทอง',
 'ศรีษะสะเกษ':'ศรีสะเกษ',
 'ศรีษะเกษ':'ศรีสะเกษ',
 'ศรีสระเกษ':'ศรีสะเกษ',
 'ศรีสะเกษ':'ศรีสะเกษ',
 'ศีรสะเกษ':'ศรีสะเกษ',
 'สกลนคร':'สกลนคร',
 'สครสวรรค์':'นครสวรรค์',
 'สงขลา':'สงขลา',
 'สงขลา\u200b':'สงขลา',
 'สตูล':'สตูล',
 'สถานที่ทำงาน':'ไม่ระบุ',
 'สพรรณบุรี':'สุพรรณบุรี',
 'สมถทรปราการ':'สมุทรปราการ',
 'สมทรสงคราม':'สมุทรสงคราม',
 'สมทรสาคร':'สมุทรสาคร',
 'สมุครปราการ':'สมุทรปราการ',
 'สมุครสาคร':'สมุทรสาคร',
 'สมุท':'สมุทรปราการ',
 'สมุทปราการ':'สมุทรปราการ',
 'สมุทรปรากร':'สมุทรปราการ',
 'สมุทรปรากรร':'สมุทรปราการ',
 'สมุทรปรากา':'สมุทรปราการ',
 'สมุทรปราการ':'สมุทรปราการ',
 'สมุทรปราการ\xa0':'สมุทรปราการ',
 'สมุทรศาคร':'สมุทรสาคร',
 'สมุทรสงคราม':'สมุทรสาคร',
 'สมุทรสาคร':'สมุทรสาคร',
 'สมุทรสาคร\xa0':'สมุทรสาคร',
 'สมุทรสาคา':'สมุทรสาคร',
 'สมุทรสาคาร':'สมุทรสาคร',
 'สมุทรสาทร':'สมุทรสาคร',
 'สมุทรสารคร':'สมุทรสาคร',
 'สมุทราปราการ':'สมุทรปราการ',
 'สมุทราสาคร':'สมุทรสาคร',
 'สมุทสงคราม':'สมุทรสงคราม',
 'สมุทสาคร':'สมุทรสาคร',
 'สมุย':'สุราษฎร์ธานี',
 'สมุุทรปราการ':'สมุทรปราการ',
 'สมุุทรสงคราม':'สมุทรสงคราม',
 'สมุุทรสาคร':'สมุทรสาคร',
 'สระก้ว':'สระแก้ว',
 'สระบุรี':'สระบุรี',
 'สระบุรี\xa0':'สระบุรี',
 'สระแก้ว':'สระแก้ว',
 'สรินทร์':'สุรินทร์',
 'สวิสเซอร์แลนด์':'กรุงเทพมหานคร',
 'สอง':'ไม่ระบุ',
 'สองแคว':'เชียงใหม่',
 'สะพานสูง':'กรุงเทพมหานคร',
 'สะแก้ว':'สระแก้ว',
 'สัตหีบ':'ชลบุรี',
 'สัมผัสผู้ป่วยยืนยัน COVID20':'ไม่ระบุ',
 'สามุทรสาคร':'สมุทรสาคร',
 'สารคาม':'มหาสารคาม',
 'สารภี':'เชียงใหม่',
 'สิงห์บุรี':'สิงห์บุรี',
 'สิงห์บุรี\xa0':'สิงห์บุรี',
 'สุทรปราการ':'สมุทรปราการ',
 'สุพรรญบุรี':'สุพรรณบุรี',
 'สุพรรณบุรั':'สุพรรณบุรี',
 'สุพรรณบุรี':'สุพรรณบุรี',
 'สุพรรณบุรี\xa0':'สุพรรณบุรี',
 'สุมทรปราการ':'สมุทรปราการ',
 'สุมทรสาคร':'สมุทรสาคร',
 'สุมุทรปราการ':'สมุทรปราการ',
 'สุมุทรสาคร':'สมุทรสาคร',
 'สุระบุรี':'สระบุรี',
 'สุราษ':'สุราษฎร์ธานี',
 'สุราษฎณ์ธานี':'สุราษฎร์ธานี',
 'สุราษฎธานี':'สุราษฎร์ธานี',
 'สุราษฎร์':'สุราษฎร์ธานี',
 'สุราษฎร์ธานี':'สุราษฎร์ธานี',
 'สุราษฎร์ฯ':'สุราษฎร์ธานี',
 'สุราษฎร์์ธานี':'สุราษฎร์ธานี',
 'สุราษฎ์ธานี':'สุราษฎร์ธานี',
 'สุราษฏร์ธานี':'สุราษฎร์ธานี',
 'สุราษธานี':'สุราษฎร์ธานี',
 'สุราษร์ฎธานี':'สุราษฎร์ธานี',
 'สุราษร์ธานี':'สุราษฎร์ธานี',
 'สุราษฯ':'สุราษฎร์ธานี',
 'สุรินทรื':'สุรินทร์',
 'สุรินทร์':'สุรินทร์',
 'สุรินทร์ 32150':'สุรินทร์',
 'สุรินทร์,รีสะเกษ':'สุรินทร์',
 'สุรินทร์\xa0':'สุรินทร์',
 'สุริมทร์':'สุรินทร์',
 'สุริะแก้ว':'สระแก้ว',
 'สุวรรณภูมิ':'กรุงเทพมหานคร',
 'สุุพรรณบุรี':'สุพรรณบุรี',
 'สุุราษฎร์ธานี':'สุราษฎร์ธานี',
 'สุุราษฏร์ธานี':'สุราษฎร์ธานี',
 'สุุราษฯ':'สุราษฎร์ธานี',
 'สุุรินทร์':'สุรินทร์',
 'สุุุโขทัย':'สุโขทัย',
 'สุโขทับ':'สุโขทัย',
 'สุโขทัย':'สุโขทัย',
 'สุโขทัย\xa0':'สุโขทัย',
 'สูงเม่น':'แพร่',
 'หนวงบัวลำภู':'หนองบัวลำภู',
 'หนองคาย':'หนองคาย',
 'หนองงคาย':'หนองคาย',
 'หนองบัวภู':'หนองบัวลำภู',
 'หนองบัวลำพูน':'หนองบัวลำภู',
 'หนองบัวลำภู':'หนองบัวลำภู',
 'หนองบัวลําภู':'หนองบัวลำภู',
 'หนองบััวลำภู':'หนองบัวลำภู',
 'หนองม่วงไข่':'แพร่',
 'หนอบัวลำภู':'หนองบัวลำภู',
 'หลายจังหวัด':'ไม่ระบุ',
 'หัวหิน':'ชลบุรี',
 'ห้วยขวาง':'กรุงเทพมหานคร',
 'อยุทธยา':'พระนครศรีอยุธยา',
 'อยุธยา':'พระนครศรีอยุธยา',
 'อยุุธยา':'พระนครศรีอยุธยา',
 'อำนาจเจริญ':'อำนาจเจริญ',
 'อำนาจเจิญ':'อำนาจเจริญ',
 'อำนาญเจริญ':'อำนาจเจริญ',
 'อำนาเจริญ':'อำนาจเจริญ',
 'อิสราเอล':'กรุงเทพมหานคร',
 'อุดธานี':'อุดรธานี',
 'อุดร':'อุดรธานี',
 'อุดรธาณี':'อุดรธานี',
 'อุดรธานี':'อุดรธานี',
 'อุดรธานี\xa0':'อุดรธานี',
 'อุดรธานีี':'อุดรธานี',
 'อุดรราชธานี':'อุดรธานี',
 'อุตรดิตถ์':'อุตรดิตถ์',
 'อุตรดิตถ์\xa0':'อุตรดิตถ์',
 'อุตรดิตถ์์':'อุตรดิตถ์',
 'อุตรดิษถ์':'อุตรดิตถ์',
 'อุตรดิิตถ์':'อุตรดิตถ์',
 'อุตรติดถ์':'อุตรดิตถ์',
 'อุทัยธานี':'อุทัยธานี',
 'อุทัยานี':'อุทัยธานี',
 'อุบลราขธานี':'อุบลราชธานี',
 'อุบลราชธานี':'อุบลราชธานี',
 'อุบลราชธานี\xa0':'อุบลราชธานี',
 'อุุครดิตถ์':'อุตรดิตถ์',
 'อุุดรธาน':'อุดรธานี',
 'อุุดรธานี':'อุดรธานี',
 'อุุตรดิตถ์':'อุตรดิตถ์',
 'อุุทัยธานี':'อุทัยธานี',
 'อุุบลราชธานี':'อุบลราชธานี',
 'อ่งทอง':'อ่างทอง',
 'อ่างทอง':'อ่างทอง',
 'อ่างทอง\xa0':'อ่างทอง',
 'อํานาจเจริญ':'อำนาจเจริญ',
 'เชิงเทรา':'ฉะเชิงเทรา',
 'เชียงราย':'เชียงราย',
 'เชียงใหม่':'เชียงใหม่',
 'เชียรใหญ่':'เชียงใหม่',
 'เชีียงราย':'เชียงราย',
 'เชีียงใหม่':'เชียงใหม่',
 'เด่นชัย':'แพร่',
 'เพขรบุรี':'เพชรบุรี',
 'เพขรบูรณื':'เพชรบูรณ์',
 'เพขรบูรณ์':'เพชรบูรณ์',
 'เพชรบุรณ์':'เพชรบูรณ์',
 'เพชรบุรี':'เพชรบุรี',
 'เพชรบุรึ':'เพชรบุรี',
 'เพชรบุุรี':'เพชรบุรี',
 'เพชรบุูรณ์':'เพชรบูรณ์',
 'เพชรบูรณ์':'เพชรบูรณ์',
 'เพชรบูรณ์\xa0':'เพชรบูรณ์',
 'เพชรบูร์':'เพชรบูรณ์',
 'เพชรบููรณ์':'เพชรบูรณ์',
 'เมือง':'ไม่ระบุ',
 'เมืองตาก':'ตาก',
 'เมืองน่าน':'น่าน',
 'เมืองปัตตานี':'ปัตตานี',
 'เรือ':'ไม่ระบุ',
 'เลย':'เลย',
 'เลย\xa0':'เลย',
 'เวียงจันทร์':'กรุงเทพมหานคร',
 'เวียงสา':'กรุงเทพมหานคร',
 'แพร่':'แพร่',
 'แม่ทะ':'ลำปาง',
 'แม่ฮ่องสอน':'แม่ฮ่องสอน',
 'แล้วป่วย':'ไม่ระบุ',
 'โพธิ์ทอง':'อ่างทอง',
 'ไชโย':'อ่างทอง',
 'ไม่มีชื่อหอพัก':'ไม่ระบุ',
 'ไม่ระบุ':'ไม่ระบุ'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [23]:
len(set(data_covid['province_of_onset'])) # มีทั้งหมด 78 ค่าเพราะว่ามีค่าที่ชื่อว่า 'ไม่ระบุ'

78

In [24]:
# สร้างตารางที่รวมจำนวนผู้ติดเชื้อโควิด - 19 ในแต่ละจังหวัด
data_groupby = data_covid.groupby('province_of_onset').size().reset_index(name='จำนวนผู้ติดเชื้อ')  
data_groupby

   province_of_onset  จำนวนผู้ติดเชื้อ
0             กระบี่             17668
1      กรุงเทพมหานคร            572177
2          กาญจนบุรี             24534
3          กาฬสินธุ์             18596
4          กำแพงเพชร             13107
..               ...               ...
73         เพชรบูรณ์             18497
74               เลย              9990
75              แพร่              5676
76        แม่ฮ่องสอน              4145
77           ไม่ระบุ            400249

[78 rows x 2 columns]

In [25]:
data_covid_finish = data_covid.merge(data_groupby,how='left',left_on='province_of_onset',right_on = 'province_of_onset') 
data_covid_finish

,announce_date,sex,risk,province_of_onset,จำนวนผู้ติดเชื้อ
0,12/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177
1,17/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177
2,22/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,70398
3,22/1/2020,ชาย,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177
4,24/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177
...,...,...,...,...,...
3325946,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249
3325947,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249
3325948,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249
3325949,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249
3325950,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249

# **สร้างตารางภูมิภาค**

In [26]:
region1 = { 'จังหวัด': ['อำนาจเจริญ','บึงกาฬ', 'บุรีรัมย์', 'ชัยภูมิ', 'กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม', 'มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู', 'หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ', 'สุรินทร์', 'อุบลราชธานี', 'อุดรธานี', 'ยโสธร'],
             'ภูมิศาสตร์': ['ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ'],
             'การเมือง': ['ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ'],
             'อุตุนิยมวิทยา': ['ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ'],
             'การท่องเที่ยว': ['ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ']
}
region2 = { 'จังหวัด': ['เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์'],
             'ภูมิศาสตร์': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ'],
             'การเมือง': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ'],
             'อุตุนิยมวิทยา': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ'],
             'การท่องเที่ยว': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ']
}
region3 = { 'จังหวัด': ['ตาก'],
             'ภูมิศาสตร์': ['ตะวันตก'],
             'การเมือง': ['เหนือ'],
             'อุตุนิยมวิทยา': ['เหนือ'],
             'การท่องเที่ยว': ['เหนือ']
}
region4 = { 'จังหวัด': ['สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์'],
             'ภูมิศาสตร์': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง'],
             'การเมือง': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ'],
             'อุตุนิยมวิทยา': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ'],
             'การท่องเที่ยว': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ']
}
region5 = { 'จังหวัด': ['นครสวรรค์', 'อุทัยธานี'],
             'ภูมิศาสตร์': ['กลาง','กลาง'],
             'การเมือง': ['เหนือ','เหนือ'],
             'อุตุนิยมวิทยา': ['กลาง','กลาง'],
             'การท่องเที่ยว': ['เหนือ','เหนือ']
}
region6 = { 'จังหวัด': ['อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร','ลพบุรี', 'นครปฐม', 'นนทบุรี', 'ปทุมธานี', 'สมุทรปราการ', 'สมุทรสาคร', 'สมุทรสงคราม', 'สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี'],
             'ภูมิศาสตร์': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง'],
             'การเมือง': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง'],
             'อุตุนิยมวิทยา': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง'],
             'การท่องเที่ยว': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง']
}
region7 = { 'จังหวัด': ['นครนายก'],
             'ภูมิศาสตร์': ['กลาง'],
             'การเมือง': ['กลาง'],
             'อุตุนิยมวิทยา': ['ตะวันออก'],
             'การท่องเที่ยว': ['กลาง']
}
region8 = { 'จังหวัด': ['ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด'],
             'ภูมิศาสตร์': ['ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก'],
             'การเมือง': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง'],
             'อุตุนิยมวิทยา': ['ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก'],
             'การท่องเที่ยว': ['ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก']
}
region9 = { 'จังหวัด': ['กาญจนบุรี', 'ราชบุรี'],
             'ภูมิศาสตร์': ['ตะวันตก','ตะวันตก'],
             'การเมือง': ['กลาง','กลาง'],
             'อุตุนิยมวิทยา': ['กลาง','กลาง'],
             'การท่องเที่ยว': ['กลาง','กลาง']
}
region10 = { 'จังหวัด': ['เพชรบุรี', 'ประจวบคีรีขันธ์'],
             'ภูมิศาสตร์': ['ตะวันตก','ตะวันตก'],
             'การเมือง': ['กลาง','กลาง'],
             'อุตุนิยมวิทยา': ['ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย'],
             'การท่องเที่ยว': ['กลาง','กลาง']
}
region11 = { 'จังหวัด': ['ชุมพร', 'นครศรีธรรมราช','นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา'],
             'ภูมิศาสตร์': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้'],
             'การเมือง': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้'],
             'อุตุนิยมวิทยา': ['ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย'],
             'การท่องเที่ยว': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้']
}
region12 = { 'จังหวัด': ['กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],
             'ภูมิศาสตร์': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้'],
             'การเมือง': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้'],
             'อุตุนิยมวิทยา': ['ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'],
             'การท่องเที่ยว': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้']
}

In [27]:
df_region1 = pd.DataFrame.from_dict(region1)
df_region2 = pd.DataFrame.from_dict(region2)
df_region3 = pd.DataFrame.from_dict(region3)
df_region4 = pd.DataFrame.from_dict(region4)
df_region5 = pd.DataFrame.from_dict(region5)
df_region6 = pd.DataFrame.from_dict(region6)
df_region7 = pd.DataFrame.from_dict(region7)
df_region8 = pd.DataFrame.from_dict(region8)
df_region9 = pd.DataFrame.from_dict(region9)
df_region10 = pd.DataFrame.from_dict(region10)
df_region11 = pd.DataFrame.from_dict(region11)
df_region12 = pd.DataFrame.from_dict(region12)

# **ตารางข้อมูล Region**

In [28]:
region_new = pd.concat([df_region1, df_region2, df_region3, df_region4, df_region5, df_region6,
                            df_region7, df_region8, df_region9, df_region10, df_region11, df_region12])  

region_new

,จังหวัด,ภูมิศาสตร์,การเมือง,อุตุนิยมวิทยา,การท่องเที่ยว
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...
1,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
2,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
3,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
4,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
5,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

# **รวมตาราง Data covid กับตาราง ภูมิภาค**



*   data_covid_finish
*   region_new

In [29]:
data_new= data_covid_finish.merge(region_new,how='left',left_on='province_of_onset',right_on = 'จังหวัด') 
data_new

,announce_date,sex,risk,province_of_onset,จำนวนผู้ติดเชื้อ,จังหวัด,ภูมิศาสตร์,การเมือง,อุตุนิยมวิทยา,การท่องเที่ยว
0,12/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
1,17/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2,22/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,70398,นครปฐม,กลาง,กลาง,กลาง,กลาง
3,22/1/2020,ชาย,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
4,24/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
...,...,...,...,...,...,...,...,...,...,...
3325946,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,NaN,NaN,NaN,NaN,NaN
3325947,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,NaN,NaN,NaN,NaN,NaN
3325948,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,NaN,NaN,NaN,NaN,NaN
3325949,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,NaN,NaN,NaN,NaN,NaN
3325950,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,NaN,NaN,NaN,NaN,NaN

# **แสดง Columns ที่สนใจ**

In [30]:
data_new = data_new[['announce_date','sex','risk','province_of_onset','จำนวนผู้ติดเชื้อ','ภูมิศาสตร์']]
data_new

,announce_date,sex,risk,province_of_onset,จำนวนผู้ติดเชื้อ,ภูมิศาสตร์
0,12/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง
1,17/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง
2,22/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,70398,กลาง
3,22/1/2020,ชาย,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง
4,24/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง
...,...,...,...,...,...,...
3325946,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,NaN
3325947,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,NaN
3325948,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,NaN
3325949,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,NaN
3325950,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,NaN

# **ตรวจสอบค่า Missing ของตาราง data_new**

In [31]:
data_new.isnull().any() # ดูว่าคอลัมน์ไหนมีค่า missing บ้าง สรุปคือทุกคอลัมน์ไม่มีค่า  missing

announce_date        False
sex                  False
risk                 False
province_of_onset    False
จำนวนผู้ติดเชื้อ     False
ภูมิศาสตร์            True
dtype: bool

## **แก้ค่า Missing ของคอลัมน์ 'ภูมิศาสตร์'**

In [32]:
# แทนค่า Missing ของคอลัมน์ 'ภูมิศาสตร์' เป็น 'ไม่ระบุ'
data_new[['ภูมิศาสตร์']] = data_new[['ภูมิศาสตร์']].fillna('ไม่ระบุ') ##แทนค่า NaN เป็น ไม่ระบุ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [33]:
data_new.isnull().any() # ดูว่าคอลัมน์ไหนมีค่า missing บ้าง จะเห็นว่าคอลัมน์ 'ภูมิศาสตร์' เป็น False นั่นคือไม่มีค่า missing

announce_date        False
sex                  False
risk                 False
province_of_onset    False
จำนวนผู้ติดเชื้อ     False
ภูมิศาสตร์           False
dtype: bool

# **โหลดข้อมูลที่เลือก**

**จำนวนประชากรในประเทศไทย แยกตามพื้นที่**

In [34]:
covid_file_path0= os.path.join(path,'stat_c64.xlsx') #โหลดชุดข้อมูลจำนวนประชากรในประเทศไทย แยกตามพื้นที่
print(covid_file_path0)

/content/drive/My Drive/Project_DataViz2022/stat_c64.xlsx

In [35]:
data_file = pd.read_excel(covid_file_path0)
data_file

,ปีเดือน,รหัสจังหวัด,ชื่อจังหวัด,รหัสสำนักทะเบียน,ชื่อสำนักทะเบียน,รหัสตำบล,ชื่อตำบล,รหัสหมู่บ้าน,ชื่อหมู่บ้าน,จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด,จำนวนบ้าน (หลังคาเรือน)
0,﻿6412,0,ทั่วประเทศ,0,-,0,-,0,-,32339118,33832321,66171439,27708635
1,6412,10,กรุงเทพมหานคร,0,-,0,-,0,-,2592292,2935702,5527994,3147231
2,6412,11,จังหวัดสมุทรปราการ,0,-,0,-,0,-,645884,710565,1356449,733185
3,6412,12,จังหวัดนนทบุรี,0,-,0,-,0,-,599167,689470,1288637,728953
4,6412,13,จังหวัดปทุมธานี,0,-,0,-,0,-,563851,626209,1190060,660020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,6412,92,จังหวัดตรัง,0,-,0,-,0,-,312693,327095,639788,237935
74,6412,93,จังหวัดพัทลุง,0,-,0,-,0,-,254425,268116,522541,199687
75,6412,94,จังหวัดปัตตานี,0,-,0,-,0,-,360348,369233,729581,199103
76,6412,95,จังหวัดยะลา,0,-,0,-,0,-,269907,272407,542314,173226
77,6412,96,จังหวัดนราธิวาส,0,-,0,-,0,-,400501,409159,809660,223141

In [36]:
data_city= data_file[['ชื่อจังหวัด','จำนวนประชากรชาย','จำนวนประชากรหญิง','จำนวนประชากรทั้งหมด','จำนวนบ้าน (หลังคาเรือน)']]
data_city

,ชื่อจังหวัด,จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด,จำนวนบ้าน (หลังคาเรือน)
0,ทั่วประเทศ,32339118,33832321,66171439,27708635
1,กรุงเทพมหานคร,2592292,2935702,5527994,3147231
2,จังหวัดสมุทรปราการ,645884,710565,1356449,733185
3,จังหวัดนนทบุรี,599167,689470,1288637,728953
4,จังหวัดปทุมธานี,563851,626209,1190060,660020
...,...,...,...,...,...
73,จังหวัดตรัง,312693,327095,639788,237935
74,จังหวัดพัทลุง,254425,268116,522541,199687
75,จังหวัดปัตตานี,360348,369233,729581,199103
76,จังหวัดยะลา,269907,272407,542314,173226
77,จังหวัดนราธิวาส,400501,409159,809660,223141

# **ตรวจสอบค่า Missing ของตาราง data_city**

In [37]:
data_city.isnull().any() # ดูว่าคอลัมน์ไหนมีค่า missing บ้าง สรุปคือทุกคอลัมน์ไม่มีค่า  missing

ชื่อจังหวัด                False
จำนวนประชากรชาย            False
จำนวนประชากรหญิง           False
จำนวนประชากรทั้งหมด        False
จำนวนบ้าน (หลังคาเรือน)    False
dtype: bool

In [38]:
set(data_city['ชื่อจังหวัด']) # ลองดู set ข้อมูลของคอลัมน์ 'ชื่อจังหวัด'

{'กรุงเทพมหานคร',
 'จังหวัดกระบี่',
 'จังหวัดกาญจนบุรี',
 'จังหวัดกาฬสินธุ์',
 'จังหวัดกำแพงเพชร',
 'จังหวัดขอนแก่น',
 'จังหวัดจันทบุรี',
 'จังหวัดฉะเชิงเทรา',
 'จังหวัดชลบุรี',
 'จังหวัดชัยนาท',
 'จังหวัดชัยภูมิ',
 'จังหวัดชุมพร',
 'จังหวัดตรัง',
 'จังหวัดตราด',
 'จังหวัดตาก',
 'จังหวัดนครนายก',
 'จังหวัดนครปฐม',
 'จังหวัดนครพนม',
 'จังหวัดนครราชสีมา',
 'จังหวัดนครศรีธรรมราช',
 'จังหวัดนครสวรรค์',
 'จังหวัดนนทบุรี',
 'จังหวัดนราธิวาส',
 'จังหวัดน่าน',
 'จังหวัดบึงกาฬ',
 'จังหวัดบุรีรัมย์',
 'จังหวัดปทุมธานี',
 'จังหวัดประจวบคีรีขันธ์',
 'จังหวัดปราจีนบุรี',
 'จังหวัดปัตตานี',
 'จังหวัดพระนครศรีอยุธยา',
 'จังหวัดพะเยา',
 'จังหวัดพังงา',
 'จังหวัดพัทลุง',
 'จังหวัดพิจิตร',
 'จังหวัดพิษณุโลก',
 'จังหวัดภูเก็ต',
 'จังหวัดมหาสารคาม',
 'จังหวัดมุกดาหาร',
 'จังหวัดยะลา',
 'จังหวัดยโสธร',
 'จังหวัดระนอง',
 'จังหวัดระยอง',
 'จังหวัดราชบุรี',
 'จังหวัดร้อยเอ็ด',
 'จังหวัดลพบุรี',
 'จังหวัดลำปาง',
 'จังหวัดลำพูน',
 'จังหวัดศรีสะเกษ',
 'จังหวัดสกลนคร',
 'จังหวัดสงขลา',
 'จังหวัดสตูล',
 'จังหวัดสมุทรปราการ',
 'จังหวัดสมุทรสงคราม',
 'จังหวัดสมุทรสาคร',
 'จังหวัดสระบุรี',
 'จังหวัดสระแก้ว',
 'จังหวัดสิงห์บุรี',
 'จังหวัดสุพรรณบุรี',
 'จังหวัดสุราษฎร์ธานี',
 'จังหวัดสุรินทร์',
 'จังหวัดสุโขทัย',
 'จังหวัดหนองคาย',
 'จังหวัดหนองบัวลำภู',
 'จังหวัดอำนาจเจริญ',
 'จังหวัดอุดรธานี',
 'จังหวัดอุตรดิตถ์',
 'จังหวัดอุทัยธานี',
 'จังหวัดอุบลราชธานี',
 'จังหวัดอ่างทอง',
 'จังหวัดเชียงราย',
 'จังหวัดเชียงใหม่',
 'จังหวัดเพชรบุรี',
 'จังหวัดเพชรบูรณ์',
 'จังหวัดเลย',
 'จังหวัดแพร่',
 'จังหวัดแม่ฮ่องสอน',
 'ทั่วประเทศ'}

In [39]:
#ทำข้อมูลให้เหมือนกัน
data_city['ชื่อจังหวัด'].replace({'จังหวัดกระบี่':'กระบี่',
 'จังหวัดกาญจนบุรี':'กาญจนบุรี',
 'จังหวัดกาฬสินธุ์':'กาฬสินธุ์',
 'จังหวัดกำแพงเพชร':'กำแพงเพชร',
 'จังหวัดขอนแก่น':'ขอนแก่น',
 'จังหวัดจันทบุรี':'จันทบุรี',
 'จังหวัดฉะเชิงเทรา':'ฉะเชิงเทรา',
 'จังหวัดชลบุรี':'ชลบุรี',
 'จังหวัดชัยนาท':'ชัยนาท',
 'จังหวัดชัยภูมิ':'ชัยภูมิ',
 'จังหวัดชุมพร':'ชุมพร',
 'จังหวัดตรัง':'ตรัง',
 'จังหวัดตราด':'ตราด',
 'จังหวัดตาก':'ตาก',
 'จังหวัดนครนายก':'นครนายก',
 'จังหวัดนครปฐม':'นครปฐม',
 'จังหวัดนครพนม':'นครพนม',
 'จังหวัดนครราชสีมา':'นครราชสีมา',
 'จังหวัดนครศรีธรรมราช':'นครศรีธรรมราช',
 'จังหวัดนครสวรรค์':'นครสวรรค์',
 'จังหวัดนนทบุรี':'นนทบุรี',
 'จังหวัดนราธิวาส':'นราธิวาส',
 'จังหวัดน่าน':'น่าน',
 'จังหวัดบึงกาฬ':'บึงกาฬ',
 'จังหวัดบุรีรัมย์':'บุรีรัมย์',
 'จังหวัดปทุมธานี':'ปทุมธานี',
 'จังหวัดประจวบคีรีขันธ์':'ประจวบคีรีขันธ์',
 'จังหวัดปราจีนบุรี':'ปราจีนบุรี',
 'จังหวัดปัตตานี':'ปัตตานี',
 'จังหวัดพระนครศรีอยุธยา':'พระนครศรีอยุธยา',
 'จังหวัดพะเยา':'พะเยา',
 'จังหวัดพังงา':'พังงา',
 'จังหวัดพัทลุง':'พัทลุง',
 'จังหวัดพิจิตร':'พิจิตร',
 'จังหวัดพิษณุโลก':'พิษณุโลก',
 'จังหวัดภูเก็ต':'ภูเก็ต',
 'จังหวัดมหาสารคาม':'มหาสารคาม',
 'จังหวัดมุกดาหาร':'มุกดาหาร',
 'จังหวัดยะลา':'ยะลา',
 'จังหวัดยโสธร':'ยโสธร',
 'จังหวัดระนอง':'ระนอง',
 'จังหวัดระยอง':'ระยอง',
 'จังหวัดราชบุรี':'ราชบุรี',
 'จังหวัดร้อยเอ็ด':'ร้อยเอ็ด',
 'จังหวัดลพบุรี':'ลพบุรี',
 'จังหวัดลำปาง':'ลำปาง',
 'จังหวัดลำพูน':'ลำพูน',
 'จังหวัดศรีสะเกษ':'ศรีสะเกษ',
 'จังหวัดสกลนคร':'สกลนคร',
 'จังหวัดสงขลา':'สงขลา',
 'จังหวัดสตูล':'สตูล',
 'จังหวัดสมุทรปราการ':'สมุทรปราการ',
 'จังหวัดสมุทรสงคราม':'สมุทรสงคราม',
 'จังหวัดสมุทรสาคร':'สมุทรสาคร',
 'จังหวัดสระบุรี':'สระบุรี',
 'จังหวัดสระแก้ว':'สระแก้ว',
 'จังหวัดสิงห์บุรี':'สิงห์บุรี',
 'จังหวัดสุพรรณบุรี':'สุพรรณบุรี',
 'จังหวัดสุราษฎร์ธานี':'สุราษฎร์ธานี',
 'จังหวัดสุรินทร์':'สุรินทร์',
 'จังหวัดสุโขทัย':'สุโขทัย',
 'จังหวัดหนองคาย':'หนองคาย',
 'จังหวัดหนองบัวลำภู':'หนองบัวลำภู',
 'จังหวัดอำนาจเจริญ':'อำนาจเจริญ',
 'จังหวัดอุดรธานี':'อุดรธานี',
 'จังหวัดอุตรดิตถ์':'อุตรดิตถ์',
 'จังหวัดอุทัยธานี':'อุทัยธานี',
 'จังหวัดอุบลราชธานี':'อุบลราชธานี',
 'จังหวัดอ่างทอง':'อ่างทอง',
 'จังหวัดเชียงราย':'เชียงราย',
 'จังหวัดเชียงใหม่':'เชียงใหม่',
 'จังหวัดเพชรบุรี':'เพชรบุรี',
 'จังหวัดเพชรบูรณ์':'เพชรบูรณ์',
 'จังหวัดเลย':'เลย',
 'จังหวัดแพร่':'แพร่',
 'จังหวัดแม่ฮ่องสอน':'แม่ฮ่องสอน'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

# **รวมตารางข้อมูลทั้งหมด**
* ข้อมูล Data Covid ข้อมูลภูมิภาค
* ข้อมูลจำนวนประชากรในประเทศไทย แยกตามพื้นที่

In [40]:
data_finish = data_new[['announce_date','sex','risk','province_of_onset','จำนวนผู้ติดเชื้อ','ภูมิศาสตร์']]
data_finish

,announce_date,sex,risk,province_of_onset,จำนวนผู้ติดเชื้อ,ภูมิศาสตร์
0,12/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง
1,17/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง
2,22/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,70398,กลาง
3,22/1/2020,ชาย,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง
4,24/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง
...,...,...,...,...,...,...
3325946,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ
3325947,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ
3325948,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ
3325949,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ
3325950,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ

In [41]:
data_finish['sex'].replace({'ช':'ชาย',     # เปลี่ยนข้อมูลให้เขียนเหมือนกัน
                 'นาย':'ชาย',
                 'ร.ต.ท.':'ชาย',
                 'ญ':'หญิง',
                 'หณิง':'หญิง',
                 'หห':'หญิง',
                 '\xa0หญิง':'หญิง',
                 'หญง':'หญิง',
                 'หญิิง':'หญิง'},inplace=True)

In [42]:
data_finish_new = data_finish.merge(data_city,how='left',left_on='province_of_onset',right_on = 'ชื่อจังหวัด') 
data_finish_new

,announce_date,sex,risk,province_of_onset,จำนวนผู้ติดเชื้อ,ภูมิศาสตร์,ชื่อจังหวัด,จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด,จำนวนบ้าน (หลังคาเรือน)
0,12/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง,กรุงเทพมหานคร,2592292.0,2935702.0,5527994.0,3147231.0
1,17/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง,กรุงเทพมหานคร,2592292.0,2935702.0,5527994.0,3147231.0
2,22/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,70398,กลาง,นครปฐม,442800.0,479371.0,922171.0,417915.0
3,22/1/2020,ชาย,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง,กรุงเทพมหานคร,2592292.0,2935702.0,5527994.0,3147231.0
4,24/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง,กรุงเทพมหานคร,2592292.0,2935702.0,5527994.0,3147231.0
...,...,...,...,...,...,...,...,...,...,...,...
3325946,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,NaN,NaN,NaN,NaN,NaN
3325947,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,NaN,NaN,NaN,NaN,NaN
3325948,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,NaN,NaN,NaN,NaN,NaN
3325949,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,NaN,NaN,NaN,NaN,NaN
3325950,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,NaN,NaN,NaN,NaN,NaN

# **แสดง Columns ที่สนใจ**

In [43]:
data_finish_new = data_finish_new[['announce_date','sex','risk','province_of_onset','จำนวนผู้ติดเชื้อ','ภูมิศาสตร์','จำนวนประชากรชาย','จำนวนประชากรหญิง','จำนวนประชากรทั้งหมด']]
data_finish_new

,announce_date,sex,risk,province_of_onset,จำนวนผู้ติดเชื้อ,ภูมิศาสตร์,จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด
0,12/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0
1,17/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0
2,22/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,70398,กลาง,442800.0,479371.0,922171.0
3,22/1/2020,ชาย,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0
4,24/1/2020,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0
...,...,...,...,...,...,...,...,...,...
3325946,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,NaN,NaN,NaN
3325947,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,NaN,NaN,NaN
3325948,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,NaN,NaN,NaN
3325949,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,NaN,NaN,NaN
3325950,18/3/2022,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,NaN,NaN,NaN

# **ตรวจสอบค่า Missing ของตาราง data_finish_new**

In [44]:
data_finish_new.isnull().any() # ดูว่าคอลัมน์ไหนมีค่า missing บ้าง สรุปคือทุกคอลัมน์ไม่มีค่า  missing

announce_date          False
sex                    False
risk                   False
province_of_onset      False
จำนวนผู้ติดเชื้อ       False
ภูมิศาสตร์             False
จำนวนประชากรชาย         True
จำนวนประชากรหญิง        True
จำนวนประชากรทั้งหมด     True
dtype: bool

## **แก้ค่า Missing ของคอลัมน์ 'จำนวนประชากรชาย'**

In [45]:
# แทนค่า Missing ของคอลัมน์ 'จำนวนประชากรชาย' เป็น 'ไม่ระบุ'
data_finish_new[['จำนวนประชากรชาย']] = data_finish_new[['จำนวนประชากรชาย']].fillna('ไม่ระบุ') ##แทนค่า NaN เป็น ไม่ระบุ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [46]:
data_finish_new.isnull().any() # ดูว่าคอลัมน์ไหนมีค่า missing บ้าง จะเห็นว่าคอลัมน์ 'จำนวนประชากรชาย' เป็น False นั่นคือ ไม่มีค่าmissing

announce_date          False
sex                    False
risk                   False
province_of_onset      False
จำนวนผู้ติดเชื้อ       False
ภูมิศาสตร์             False
จำนวนประชากรชาย        False
จำนวนประชากรหญิง        True
จำนวนประชากรทั้งหมด     True
dtype: bool

## **แก้ค่า Missing ของคอลัมน์ 'จำนวนประชากรหญิง'**

In [47]:
# แทนค่า Missing ของคอลัมน์ 'จำนวนประชากรหญิง' เป็น 'ไม่ระบุ'
data_finish_new[['จำนวนประชากรหญิง']] = data_finish_new[['จำนวนประชากรหญิง']].fillna('ไม่ระบุ') ##แทนค่า NaN เป็น ไม่ระบุ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [48]:
data_finish_new.isnull().any() # ดูว่าคอลัมน์ไหนมีค่า missing บ้าง จะเห็นว่าคอลัมน์ 'จำนวนประชากรหญิง' เป็น False นั่นคือไม่มีค่า missing

announce_date          False
sex                    False
risk                   False
province_of_onset      False
จำนวนผู้ติดเชื้อ       False
ภูมิศาสตร์             False
จำนวนประชากรชาย        False
จำนวนประชากรหญิง       False
จำนวนประชากรทั้งหมด     True
dtype: bool

## **แก้ค่า Missing ของคอลัมน์ 'จำนวนประชากรทั้งหมด'**

In [49]:
# แทนค่า Missing ของคอลัมน์ 'จำนวนประชากรทั้งหมด' เป็น 'ไม่ระบุ'
data_finish_new[['จำนวนประชากรทั้งหมด']] = data_finish_new[['จำนวนประชากรทั้งหมด']].fillna('ไม่ระบุ') ##แทนค่า NaN เป็น ไม่ระบุ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [50]:
data_finish_new.isnull().any() # ดูว่าคอลัมน์ไหนมีค่า missing บ้าง จะเห็นว่าคอลัมน์ 'จำนวนประชากรทั้งหมด' เป็น False นั่นคือไม่มีค่า missing

announce_date          False
sex                    False
risk                   False
province_of_onset      False
จำนวนผู้ติดเชื้อ       False
ภูมิศาสตร์             False
จำนวนประชากรชาย        False
จำนวนประชากรหญิง       False
จำนวนประชากรทั้งหมด    False
dtype: bool

In [51]:
# เปลี่ยนรูปแบบของข้อมูลวันที่ให้เป็น %d/%m/%Y 
data_finish_new['announce_date'] = pd.to_datetime(data_finish_new['announce_date'],format="%d/%m/%Y")
data_finish_new

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,announce_date,sex,risk,province_of_onset,จำนวนผู้ติดเชื้อ,ภูมิศาสตร์,จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด
0,2020-01-12,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0
1,2020-01-17,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0
2,2020-01-22,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,70398,กลาง,442800.0,479371.0,922171.0
3,2020-01-22,ชาย,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0
4,2020-01-24,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0
...,...,...,...,...,...,...,...,...,...
3325946,2022-03-18,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3325947,2022-03-18,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3325948,2022-03-18,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3325949,2022-03-18,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3325950,2022-03-18,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

In [52]:
data_finish_new.isnull().any() # ดูว่าคอลัมน์ไหนมีค่า missing บ้าง จะเห็นว่าเป็น False ทั้งหมด นั่นคือไม่มีค่า missing

announce_date          False
sex                    False
risk                   False
province_of_onset      False
จำนวนผู้ติดเชื้อ       False
ภูมิศาสตร์             False
จำนวนประชากรชาย        False
จำนวนประชากรหญิง       False
จำนวนประชากรทั้งหมด    False
dtype: bool

# **แบ่งข้อมูลเพื่อนำไปใช้งาน**

In [53]:
data_1_y20 = data_finish_new[(data_finish_new['announce_date'] >= '2020-01-12') & (data_finish_new['announce_date'] <= '2020-12-31')]     
data_1_y20 # ข้อมูลวันที่ 12 มกราคม - 31 ธันวาคม 2020

,announce_date,sex,risk,province_of_onset,จำนวนผู้ติดเชื้อ,ภูมิศาสตร์,จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด
0,2020-01-12,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0
1,2020-01-17,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0
2,2020-01-22,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,70398,กลาง,442800.0,479371.0,922171.0
3,2020-01-22,ชาย,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0
4,2020-01-24,หญิง,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0
...,...,...,...,...,...,...,...,...,...
6880,2020-12-31,หญิง,Cluster ระยอง,ระยอง,75584,ตะวันออก,368992.0,382351.0,751343.0
6881,2020-12-31,ชาย,Cluster ระยอง,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
6882,2020-12-31,ชาย,Cluster ระยอง,ระยอง,75584,ตะวันออก,368992.0,382351.0,751343.0
6883,2020-12-31,ชาย,Cluster ระยอง,ระยอง,75584,ตะวันออก,368992.0,382351.0,751343.0
6884,2020-12-31,ชาย,Cluster ระยอง,ระยอง,75584,ตะวันออก,368992.0,382351.0,751343.0

In [54]:
data_2_y21 = data_finish_new[(data_finish_new['announce_date'] >= '2021-01-01') & (data_finish_new['announce_date'] <= '2021-05-31')]     
data_2_y21 # ข้อมูลวันที่ 1 มกราคม - 31 พฤษภาคม 2021

,announce_date,sex,risk,province_of_onset,จำนวนผู้ติดเชื้อ,ภูมิศาสตร์,จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด
124,2021-03-06,หญิง,Cluster ตลาดพรพัฒน์,ปทุมธานี,86356,กลาง,563851.0,626209.0,1190060.0
6885,2021-01-01,หญิง,Cluster สมุทรสาคร,ปทุมธานี,86356,กลาง,563851.0,626209.0,1190060.0
6886,2021-01-01,หญิง,Cluster ระยอง,ปทุมธานี,86356,กลาง,563851.0,626209.0,1190060.0
6887,2021-01-01,หญิง,สถานบันเทิง,นครปฐม,70398,กลาง,442800.0,479371.0,922171.0
6888,2021-01-01,หญิง,Cluster สมุทรสาคร,นครปฐม,70398,กลาง,442800.0,479371.0,922171.0
...,...,...,...,...,...,...,...,...,...
159787,2021-05-31,ชาย,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
159788,2021-05-31,ชาย,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
159789,2021-05-31,ชาย,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
159790,2021-05-31,ชาย,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
159791,2021-05-31,ชาย,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

In [55]:
data_3_y21 = data_finish_new[(data_finish_new['announce_date'] >= '2021-06-01') & (data_finish_new['announce_date'] <= '2021-07-31')]     
data_3_y21 # ข้อมูลวันที่ 1 มิถุนายน - 31 กรกฏาคม 2021

,announce_date,sex,risk,province_of_onset,จำนวนผู้ติดเชื้อ,ภูมิศาสตร์,จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด
159792,2021-06-01,ชาย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงใหม่,42425,เหนือ,864364.0,925021.0,1789385.0
159793,2021-06-01,ชาย,อยู่ระหว่างการสอบสวน,เชียงใหม่,42425,เหนือ,864364.0,925021.0,1789385.0
159794,2021-06-01,หญิง,ระบุไม่ได้,เชียงใหม่,42425,เหนือ,864364.0,925021.0,1789385.0
159795,2021-06-01,หญิง,อยู่ระหว่างการสอบสวน,เชียงใหม่,42425,เหนือ,864364.0,925021.0,1789385.0
159796,2021-06-01,หญิง,บุคลากรด้านการแพทย์และสาธารณสุข,เชียงราย,8124,เหนือ,630868.0,667557.0,1298425.0
...,...,...,...,...,...,...,...,...,...
597282,2021-07-31,หญิง,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0
597283,2021-07-31,หญิง,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0
597284,2021-07-31,หญิง,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0
597285,2021-07-31,หญิง,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0
597286,2021-07-31,ชาย,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0

In [56]:
data_4_y21 = data_finish_new[(data_finish_new['announce_date'] >= '2021-07-01') & (data_finish_new['announce_date'] <= '2021-08-01')]     
data_4_y21 # ข้อมูลวันที่ 1 กรกฏาคม - 1 สิงหาคม 2021

,announce_date,sex,risk,province_of_onset,จำนวนผู้ติดเชื้อ,ภูมิศาสตร์,จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด
259301,2021-07-01,ชาย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,8124,เหนือ,630868.0,667557.0,1298425.0
259302,2021-07-01,หญิง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,8124,เหนือ,630868.0,667557.0,1298425.0
259303,2021-07-01,หญิง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,8124,เหนือ,630868.0,667557.0,1298425.0
259304,2021-07-01,ชาย,อื่นๆ,เชียงราย,8124,เหนือ,630868.0,667557.0,1298425.0
259305,2021-07-01,ชาย,สถานที่ทำงาน,เชียงราย,8124,เหนือ,630868.0,667557.0,1298425.0
...,...,...,...,...,...,...,...,...,...
615309,2021-08-01,ไม่ระบุ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0
615310,2021-08-01,ชาย,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0
615311,2021-08-01,ชาย,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0
615312,2021-08-01,ชาย,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0
615313,2021-08-01,หญิง,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0

In [57]:
data_5_y21 = data_finish_new[(data_finish_new['announce_date'] >= '2021-08-02') & (data_finish_new['announce_date'] <= '2021-08-20')]     
data_5_y21 # ข้อมูลวันที่ 2 สิงหาคม - 20 สิงหาคม 2021

,announce_date,sex,risk,province_of_onset,จำนวนผู้ติดเชื้อ,ภูมิศาสตร์,จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด
615314,2021-08-02,หญิง,อื่นๆ,น่าน,7238,เหนือ,237959.0,237916.0,475875.0
615315,2021-08-02,หญิง,อื่นๆ,น่าน,7238,เหนือ,237959.0,237916.0,475875.0
615316,2021-08-02,หญิง,อื่นๆ,น่าน,7238,เหนือ,237959.0,237916.0,475875.0
615317,2021-08-02,ชาย,อื่นๆ,น่าน,7238,เหนือ,237959.0,237916.0,475875.0
615318,2021-08-02,หญิง,อื่นๆ,น่าน,7238,เหนือ,237959.0,237916.0,475875.0
...,...,...,...,...,...,...,...,...,...
1032487,2021-08-20,ชาย,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
1032488,2021-08-20,ชาย,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
1032489,2021-08-20,ชาย,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
1032490,2021-08-20,ชาย,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
1032491,2021-08-20,ชาย,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

In [58]:
data_6_y21 = data_finish_new[(data_finish_new['announce_date'] >= '2021-08-21') & (data_finish_new['announce_date'] <= '2021-09-20')]     
data_6_y21 # ข้อมูลวันที่ 21 สิงหาคม - 20 กันยายน 2021

,announce_date,sex,risk,province_of_onset,จำนวนผู้ติดเชื้อ,ภูมิศาสตร์,จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด
1032492,2021-08-21,หญิง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,8124,เหนือ,630868.0,667557.0,1298425.0
1032493,2021-08-21,หญิง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,8124,เหนือ,630868.0,667557.0,1298425.0
1032494,2021-08-21,หญิง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,8124,เหนือ,630868.0,667557.0,1298425.0
1032495,2021-08-21,หญิง,อื่นๆ,เชียงราย,8124,เหนือ,630868.0,667557.0,1298425.0
1032496,2021-08-21,หญิง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,8124,เหนือ,630868.0,667557.0,1298425.0
...,...,...,...,...,...,...,...,...,...
1511963,2021-09-20,ไม่ระบุ,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
1511964,2021-09-20,ไม่ระบุ,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
1511965,2021-09-20,ไม่ระบุ,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
1511966,2021-09-20,ไม่ระบุ,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
1511967,2021-09-20,ไม่ระบุ,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

In [59]:
data_7_y21 = data_finish_new[(data_finish_new['announce_date'] >= '2021-09-21') & (data_finish_new['announce_date'] <= '2021-10-31')]     
data_7_y21 # ข้อมูลวันที่  21 กันยายน - 31 ตุลาคม 2021

,announce_date,sex,risk,province_of_onset,จำนวนผู้ติดเชื้อ,ภูมิศาสตร์,จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด
1511968,2021-09-21,ชาย,อื่นๆ,พะเยา,5922,เหนือ,225943.0,238562.0,464505.0
1511969,2021-09-21,หญิง,อื่นๆ,พะเยา,5922,เหนือ,225943.0,238562.0,464505.0
1511970,2021-09-21,หญิง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,8124,เหนือ,630868.0,667557.0,1298425.0
1511971,2021-09-21,หญิง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,8124,เหนือ,630868.0,667557.0,1298425.0
1511972,2021-09-21,หญิง,อยู่ระหว่างการสอบสวน,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0
...,...,...,...,...,...,...,...,...,...
1934801,2021-10-31,ไม่ระบุ,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
1934802,2021-10-31,ไม่ระบุ,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
1934803,2021-10-31,ไม่ระบุ,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
1934804,2021-10-31,ไม่ระบุ,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
1934805,2021-10-31,ไม่ระบุ,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

In [60]:
data_8_y21 = data_finish_new[(data_finish_new['announce_date'] >= '2021-12-01') & (data_finish_new['announce_date'] <= '2021-12-31')]     
data_8_y21 # ข้อมูลวันที่ 1 ธันวาคม - 31 ธันวาคม 2021

,announce_date,sex,risk,province_of_onset,จำนวนผู้ติดเชื้อ,ภูมิศาสตร์,จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด
2138654,2021-12-01,หญิง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,8124,เหนือ,630868.0,667557.0,1298425.0
2138655,2021-12-01,หญิง,อื่นๆ,เชียงราย,8124,เหนือ,630868.0,667557.0,1298425.0
2138656,2021-12-01,ชาย,อื่นๆ,เชียงราย,8124,เหนือ,630868.0,667557.0,1298425.0
2138657,2021-12-01,หญิง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,8124,เหนือ,630868.0,667557.0,1298425.0
2138658,2021-12-01,หญิง,อื่นๆ,เชียงราย,8124,เหนือ,630868.0,667557.0,1298425.0
...,...,...,...,...,...,...,...,...,...
2246212,2021-12-31,หญิง,ทัณฑสถาน/เรือนจำ,ระนอง,14783,ใต้,98136.0,96437.0,194573.0
2246213,2021-12-31,ชาย,ทัณฑสถาน/เรือนจำ,สตูล,14200,ใต้,161640.0,163195.0,324835.0
2246214,2021-12-31,ชาย,ทัณฑสถาน/เรือนจำ,ปทุมธานี,86356,กลาง,563851.0,626209.0,1190060.0
2246215,2021-12-31,ชาย,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0
2246216,2021-12-31,ชาย,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,572177,กลาง,2592292.0,2935702.0,5527994.0

In [61]:
data_9_y22 = data_finish_new[(data_finish_new['announce_date'] >= '2022-01-01') & (data_finish_new['announce_date'] <= '2022-02-15')]     
data_9_y22 # ข้อมูลวันที่ 1 มกราคม - 15 กุมภาพันธ์ 2022

,announce_date,sex,risk,province_of_onset,จำนวนผู้ติดเชื้อ,ภูมิศาสตร์,จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด
2246217,2022-01-01,ชาย,อื่นๆ,พะเยา,5922,เหนือ,225943.0,238562.0,464505.0
2246218,2022-01-01,หญิง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,5922,เหนือ,225943.0,238562.0,464505.0
2246219,2022-01-01,ชาย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,5922,เหนือ,225943.0,238562.0,464505.0
2246220,2022-01-01,ชาย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,5922,เหนือ,225943.0,238562.0,464505.0
2246221,2022-01-01,หญิง,อยู่ระหว่างการสอบสวน,พะเยา,5922,เหนือ,225943.0,238562.0,464505.0
...,...,...,...,...,...,...,...,...,...
2645377,2022-02-15,ชาย,ทัณฑสถาน/เรือนจำ,สมุทรสาคร,137329,กลาง,282683.0,304106.0,586789.0
2645378,2022-02-15,ชาย,ทัณฑสถาน/เรือนจำ,สมุทรสาคร,137329,กลาง,282683.0,304106.0,586789.0
2645379,2022-02-15,ชาย,ทัณฑสถาน/เรือนจำ,สมุทรสาคร,137329,กลาง,282683.0,304106.0,586789.0
2645380,2022-02-15,ชาย,ทัณฑสถาน/เรือนจำ,สมุทรสาคร,137329,กลาง,282683.0,304106.0,586789.0
2645381,2022-02-15,ชาย,ทัณฑสถาน/เรือนจำ,สมุทรสาคร,137329,กลาง,282683.0,304106.0,586789.0

In [62]:
data_10_y22 = data_finish_new[(data_finish_new['announce_date'] >= '2022-02-16') & (data_finish_new['announce_date'] <= '2022-02-28')]     
data_10_y22 # ข้อมูลวันที่ 16 กุมภาพันธ์ - 28 กุมภาพันธ์ 2022

,announce_date,sex,risk,province_of_onset,จำนวนผู้ติดเชื้อ,ภูมิศาสตร์,จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด
2645382,2022-02-16,ชาย,บุคลากรด้านการแพทย์และสาธารณสุข,พะเยา,5922,เหนือ,225943.0,238562.0,464505.0
2645383,2022-02-16,หญิง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,5922,เหนือ,225943.0,238562.0,464505.0
2645384,2022-02-16,หญิง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,5922,เหนือ,225943.0,238562.0,464505.0
2645385,2022-02-16,หญิง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,5922,เหนือ,225943.0,238562.0,464505.0
2645386,2022-02-16,หญิง,อื่นๆ,พะเยา,5922,เหนือ,225943.0,238562.0,464505.0
...,...,...,...,...,...,...,...,...,...
2914704,2022-02-28,ชาย,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
2914705,2022-02-28,ชาย,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
2914706,2022-02-28,ชาย,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
2914707,2022-02-28,ชาย,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
2914708,2022-02-28,ชาย,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

In [63]:
data_11_y22 = data_finish_new[(data_finish_new['announce_date'] >= '2022-03-01') & (data_finish_new['announce_date'] <= '2022-03-18')]     
data_11_y22 # ข้อมูลวันที่ 1 มีนาคม - 18 มีนาคม  2022

,announce_date,sex,risk,province_of_onset,จำนวนผู้ติดเชื้อ,ภูมิศาสตร์,จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด
2914709,2022-03-01,ชาย,อื่นๆ,แม่ฮ่องสอน,4145,เหนือ,144811.0,141105.0,285916.0
2914710,2022-03-01,หญิง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,แม่ฮ่องสอน,4145,เหนือ,144811.0,141105.0,285916.0
2914711,2022-03-01,หญิง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,แม่ฮ่องสอน,4145,เหนือ,144811.0,141105.0,285916.0
2914712,2022-03-01,หญิง,บุคลากรด้านการแพทย์และสาธารณสุข,แม่ฮ่องสอน,4145,เหนือ,144811.0,141105.0,285916.0
2914713,2022-03-01,หญิง,อยู่ระหว่างการสอบสวน,เชียงใหม่,42425,เหนือ,864364.0,925021.0,1789385.0
...,...,...,...,...,...,...,...,...,...
3325946,2022-03-18,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3325947,2022-03-18,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3325948,2022-03-18,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3325949,2022-03-18,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3325950,2022-03-18,หญิง,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,400249,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

# **นำข้อมูลออกมาใช้งาน**