<a href="https://colab.research.google.com/github/Supaporn-Bututham/data_viz_2022/blob/main/Project_DataViz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Project กลุ่ม**

* ทำ Dashboard ของ Data Covid (ตั้งแต่วันที่ 12/01/2020 - 18/03/2022) 
* ใช้ข้อมูลภูมิภาค 
* ข้อมูลอื่นที่เลือกเอง

# **รายชื่อสมาชิกในกลุ่ม**
**ชื่อกลุ่ม** : ไข่ดาวเจียว

1.  นางสาวสุภาภรณ์ บุตุธรรม  623020543-8 
2.  นายคำแสน  แก้วพิภพ       623020761-8
3.  นางสาววิกานดา หงษ์บุญมี  623020764-2

***Basic Programming for Data Science and Data Visualization***

#**ข้อมูลที่นำมาใช้**

**ข้อมูลชุดที่ 1** :
รายงานจำนวนผู้ติดเชื้อโควิด-19 ประจำวัน ข้อมูลประจำประเทศไทย
ตั้งแต่วันที่ 12 มกราคม 2563 - วันที่ 18 มีนาคม 2565

**ที่มาของข้อมูล** : https://data.go.th/dataset/covid-19-daily

**องค์กร** : กรมควบคุมโรค

-----------------------------------------------------------------------

**ข้อมูลชุดที่ 2** :
ข้อมูลการแบ่งภูมิภาคของประเทศไทย

**ที่มาของข้อมูล** : https://th.wikipedia.org/wiki/ภูมิภาคของประเทศไทย

**องค์กร** : วิกิพีเดีย สารานุกรมเสรี

-----------------------------------------------------------------------

**ข้อมูลชุดที่ 3** :
ข้อมูลจำนวนประชากรในประเทศไทย แยกตามพื้นที่


**ที่มาของข้อมูล** : https://data.go.th/dataset/statbyyear

**องค์กร** : กรมการปกครอง

-----------------------------------------------------------------------

**Drive ข้อมูลรวม**: https://drive.google.com/drive/folders/1Qvc2FfXBvy-JgQ8UZH-jM8GXYbRpeTCa

**Dashboard** : https://datastudio.google.com/reporting/1ef02e55-7de5-42e0-829b-e283c5dfd02b/page/p_m597whyctc?fbclid=IwAR3qtOg_Ult0kcyPqI_GiXbVcPvSMBcun4DD_f2jHmyzE82HKoBQoTUDLgI

In [1]:
import pandas as pd  # pandas เป็น Package ที่ใช้เกี่ยวกับการจัดการข้อมูลที่เป็นตาราง , เรียกใช้โดยการ import แล้วตามด้วยชื่อ Package

In [2]:
from google.colab import drive  # เชื่อมต่อกับ google drive ที่เราเก็บข้อมูลไว้
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os # เป็น package ที่เอาไว้จัดการไฟล์และเอาไว้ดูที่มาของไฟล์หรือ path

In [4]:
path = '/content/drive/My Drive/Project_DataViz2022' #ระบุให้ชี้ไปที่โฟลเดอร์ใน google drive ที่เราเซฟไฟล์ไว้ คือ โฟลเดอร์ Project_DataViz2022

# **โหลดข้อมูล Covid-19 ทั้ง 4 ชุด**

### **คำอธิบาย คอลัมน์**

* No : รหัสผู้ป่วย
* Announce Date : วันที่แถลงข่าว
* Notification Date : วันที่กระทรวงได้รับรายงาน
* Sex : เพศผู้ป่วย
* Age : อายุของผู้ป่วย
* Nationality : สัญชาติ
* Province of isolation : จังหวัดที่รักษาตัว
* Province of onset จังหวัดที่เริ่มพบว่าตัวเองมีอาการป่วย
* District of onset อำเภอที่เริ่มพบว่าตัวเองมีอาการป่วย

## **ชุดข้อมูลที่ 1**

In [5]:
data_01 = pd.read_csv(os.path.join(path,'confirmed-cases.csv')) # ไฟล์ที่เราต้องการ
data_01 # print data ดูว่ามันหน้าตาเป็นยังไง

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,NaN,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

## **ชุดข้อมูลที่ 2**

In [6]:
data_02 = pd.read_csv(os.path.join(path,'confirmed-cases-since-120864.csv')) # ไฟล์ที่เราต้องการ
data_02 # print data ดูว่ามันหน้าตาเป็นยังไง

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

## **ชุดข้อมูลที่ 3**

In [7]:
data_03 = pd.read_csv(os.path.join(path,'confirmed-cases-since-271064.csv')) # ไฟล์ที่เราต้องการ
data_03 # print data ดูว่ามันหน้าตาเป็นยังไง

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

## **ชุดข้อมูลที่ 4**

In [8]:
data_04 = pd.read_csv(os.path.join(path,'confirmed-cases-since-280265.csv')) # ไฟล์ที่เราต้องการ
data_04 # print data ดูว่ามันหน้าตาเป็นยังไง

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

# **รวมข้อมูล Covid-19 ทั้ง 4 ชุดเข้าด้วยกัน**

In [9]:
data_covid = pd.concat([data_01, data_02, data_03, data_04])
data_covid

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

# **แสดง Columns ที่สนใจ**

In [10]:
data_covid = data_covid[['announce_date','sex','risk','province_of_onset']]
data_covid

       announce_date   sex                              risk province_of_onset
0          12/1/2020  หญิง  คนต่างชาติเดินทางมาจากต่างประเทศ     กรุงเทพมหานคร
1          17/1/2020  หญิง  คนต่างชาติเดินทางมาจากต่างประเทศ     กรุงเทพมหานคร
2          22/1/2020  หญิง  คนต่างชาติเดินทางมาจากต่างประเทศ            นครปฐม
3          22/1/2020   ชาย  คนต่างชาติเดินทางมาจากต่างประเทศ     กรุงเทพมหานคร
4          24/1/2020  หญิง  คนต่างชาติเดินทางมาจากต่างประเทศ     กรุงเทพมหานคร
...              ...   ...                               ...               ...
433548     18/3/2022  หญิง                  ทัณฑสถาน/เรือนจำ               NaN
433549     18/3/2022  หญิง                  ทัณฑสถาน/เรือนจำ               NaN
433550     18/3/2022  หญิง                  ทัณฑสถาน/เรือนจำ               NaN
433551     18/3/2022  หญิง                  ทัณฑสถาน/เรือนจำ               NaN
433552     18/3/2022  หญิง                  ทัณฑสถาน/เรือนจำ               NaN

[3325951 rows x 4 columns]

# **ตรวจสอบค่า Missing ของตาราง data_covid**

In [11]:
data_covid.isnull().any() # ดูว่าคอลัมน์ไหนมีค่า missing บ้าง สรุปคือทุกคอลัมน์ไม่มีค่า  missing

announce_date        False
sex                   True
risk                  True
province_of_onset     True
dtype: bool

### **แก้ค่า Missing ของคอลัมน์ 'sex'**

In [12]:
# แทนค่า Missing ของคอลัมน์ 'sex' เป็น 'ไม่ระบุ'
data_covid[['sex']] = data_covid[['sex']].fillna('ไม่ระบุ')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [13]:
data_covid.isnull().any() # ดูว่าคอลัมน์ไหนมีค่า missing บ้าง จะเห็นว่าคอลัมน์ 'sex' เป็น False นั่นคือไม่มีค่า missing

announce_date        False
sex                  False
risk                  True
province_of_onset     True
dtype: bool

### **แก้ค่า Missing ของคอลัมน์ 'risk'**

In [14]:
set(data_covid['risk'])      # ลองดู set ข้อมูลของคอลัมน์ 'risk'

{' Samui plus',
 '10.อื่นๆ',
 '2.สัมผัสผู้ติดเชื้อ',
 '8.สำรวจกลุ่มเสี่ยง (survey)',
 '9.ขอตรวจหาเชื้อเอง',
 'ACF รองเมือง',
 'ACF สนามกีฬาธูปะเตมีย์',
 'ACF สนามกีฬาไทย-ญี่ปุ่น',
 'ACF สีลม',
 'ACF เคหะหลักสี่',
 'BKK Sandbox',
 'Chonburi Sandbox',
 'Cluster Icon siam',
 "Cluster Memory 90's กรุงเทพมหานคร",
 'Cluster New Jazz กรุงเทพมหานคร',
 'Cluster The Lounge Salaya',
 'Cluster คลองเตย',
 'Cluster งานมอเตอร์ โชว์',
 'Cluster จนท. สนามบินสุวรรณภูมิ',
 'Cluster จันทบุรี',
 'Cluster จันทบุรี (ชาวกินี )',
 'Cluster จันทบุรี (ชาวกินี)',
 'Cluster ชลบุรี',
 'Cluster ชลบุรี บริษัทไดกิ้น',
 'Cluster ชลบุรี โรงเบียร์ 90',
 'Cluster ตราด',
 'Cluster ตราด ',
 'Cluster ตลาดนนทบุรี',
 'Cluster ตลาดบางพลี',
 'Cluster ตลาดบางแค',
 'Cluster ตลาดพรพัฒน์',
 'Cluster ตลาดสี่มุมเมือง',
 'Cluster บริษัทศรีสวัสดิ์',
 'Cluster บางแค',
 'Cluster บ่อนพัทยา/ชลบุรี',
 'Cluster บ่อนเทพารักษ์',
 'Cluster บ่อนไก่อ่างทอง',
 'Cluster ปากช่อง',
 'Cluster ผับ Thonglor',
 'Cluster มหาสารคาม',
 'Cluster ระยอง',
 'Cluster สถานบันเทิงย่านทองหล่อ',
 'Cluster สมุทรปราการ (โรงงาน บริษัทเมทัล โปรดักส์)',
 'Cluster สมุทรปราการ GRP Hightech',
 'Cluster สมุทรปราการ ตลาดเคหะบางพลี',
 'Cluster สมุทรสาคร',
 'Cluster ห้างแสงทอง (สายล่าง)',
 'Cluster เครือคัสเซ่อร์พีคโฮลดิ้ง (CPG,CPH)',
 'Cluster โรงงาน Big Star',
 'Cluster โรงงาน QPP ประจวบฯ',
 'Cluster โรงงาน standard can',
 'Cluster โรงงานทำขนม บางขุนเทียน',
 'Karbi Sandbox',
 'Krabi Sandbox',
 'Krabi Sandbox ',
 'Krabi sandbox ',
 'Narathiwat Sandbox',
 'Phang Nga Sandbox',
 'Phang nga Sandbox',
 'Phangnga Sandbox',
 'Phare Sandbox',
 'Phrae Sandbox',
 'Phuket Sandbox',
 'Phunga Sandbox',
 'Prachuap Sandbox',
 'Rayong Sandbox',
 'SHUI',
 'Samui Plus',
 'Samui plus',
 'Samut Prakan Sandbox',
 'Sandbox',
 'Songkhla Sandbok',
 'State Quarantine',
 'Surin Sandbox',
 'Test and Go',
 'Trat Sandbox',
 'Trat sandbox',
 'Udon Sandbox',
 'cluster ชลบุรี\n(อยู่ระหว่างการสอบสวน)',
 nan,
 'prachuap Sandbox',
 'กลับมาจาก จ.กรุงเทพมหานคร.',
 'การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน',
 'คนต่างชาติเดินทางมาจากต่างประเทศ',
 'คนไทยมาจากพื้นที่เสี่ยง',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คนไทยเดินทางมาจากต่างประเทศ',
 'ค้นหาเชิงรุก',
 'ตรวจก่อนทำหัตถการ',
 'ตรวจก่อนทำหัถตการ',
 'ตรวจสุขภาพแรงงานต่างด้าว',
 'ตลาด',
 'ติดเชื้อในพื้นที่ (สัมผัส ผป.ยืนยัน)',
 'ทัณฑสถาน/เรือนจำ',
 'นักกีฬา',
 'บุคลากรด้านการแพทย์และสาธารณสุข',
 'บุคลากรทางการเเพทย์',
 'ปอดอักเสบ (Pneumonia)',
 'ปอดอักเสบ Pneumonia',
 'ปอดอักเสบ(Pneumonia)',
 'ผับหัวหิน',
 'ผู้ติดเชื้อในประเทศ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AOQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า HQ/AHQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า OQ',
 'ผู้ป่วย PUI',
 'ผู้ป่วย กรุงเทพมหานคร',
 'ผู้เดินทางมาจากพื้นที่เสี่ยง กรุงเทพมหานคร',
 'พิธีกรรมทางศาสนา',
 'พื้นที่เสียง',
 'มาจากพื้นที่เสียง จ.ปทุมธานี',
 'มาจากพื้นที่เสี่ยง',
 'มาจากพื้นที่เสี่ยง จ.ปทุมธานี',
 'มีอาการ มาจาก กรุงเทพมหานคร. พนักงานร้านอาหาร',
 'รอประสาน',
 'ระบุไม่ได้',
 'ระหว่างการสอบสวนโรค',
 'ระหว่างสอบสวน',
 'รับจ้างขนของที่ตลาดท่ายาง',
 'ร่วมงานศพในหมู่บ้านทุกวัน',
 'ร้านอาหาร',
 'ศูนย์กักกัน ผู้ต้องกัก',
 'สถานที่ทำงาน',
 'สถานบันเทิง',
 'สถานประกอบการ',
 'สถานศึกษา',
 'สน.วัดพระยาไกร',
 'สนามมวย',
 'สัมผัสผู้ติดเชื้อยืนยัน\n  อยู่ระหว่างสอบสวน',
 'สัมผัสผู้ติดเชื้อยืนยัน\nอยู่ระหว่างสอบสวน',
 'สัมผัสผู้ป่วยที่ติดโควิด',
 'สัมผัสผู้ป่วยยืนยัน',
 'สัมผัสผู้ป่วยยืนยัน \n  อยู่ระหว่างสอบสวน',
 'สัมผัสผู้ป่วยยืนยัน (ยังไม่สามารถระบุได้)',
 'สัมผัสผู้ป่วยยืนยัน ภายในครอบครัว/ชุมชน/เพื่อน',
 'สัมผัสผู้ป่วยยืนยัน อยู่ระหว่างสอบสวน',
 'สัมผัสผู้ป่วยยืนยันภายในชุมชน',
 'สัมผัสผู้ป่วยยืนยันเพื่อนร่วมงาน',
 'สัมผัสผู้เดินทางจากต่างประเทศ',
 'สัมผัสสามีสะอาด เขตบ้าน (รพ.มหาชัย 2)',
 'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้',
 'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้ใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้',
 'สัมผัสใกล้ชิดผู้ป่วยยันยันก่อนหน้า',
 'สัมผัสใกล้ชิดผู้ป่วยยืนยันก่อนหน้า',
 'สัมผัสในสถานพยาบาล',
 'อยู่ระหว่างการสอบสวน',
 'อยู่ระหว่างการสอบสวน\n',
 'อยู่ระหว่างสอบสวน',
 'อยู่ระหว่างสอบสวนโรค',
 'อาชีพเสี่ยง',
 'อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงานใกล้ชิดสัมผัสชาวต่างชาติ เป็นต้น',
 'อิ่นๆ',
 'อื่น',
 'อื่น ๆ',
 'อื่นๆ',
 'เดินทางจากพื้นที่เสี่ยง',
 'เดินทางมาจากพื้นที่จังหวัดเสี่ยง',
 'เดินทางมาจากพื้นที่มีการระบาดของโรค',
 'เดินทางมาจากพื้นที่ระบาด',
 'เดินทางมาจากพื้นที่เสี่ยง จ.กรุงเทพฯ จอมทอง',
 'เดินทางมาจากพื้นที่เสี่ยงที่มีการระบาดของโรค',
 'เพื่อเฝ้าระวังเชื้อกลายพันธุ์',
 'แรงงานต่างด้าวตรวจก่อนขึ้นทะเบียน',
 'ในพื้นที่',
 'ไปยัง/มาจาก พื้นที่ระบาดกรุงเทพมหานคร',
 'ไปยังพื้นที่ที่มีการระบาด',
 'ไปสถานที่ชุมชน',
 'ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว',
 'ไปสถานที่เสี่ยง เช่น ตลาด สถานที่ชุมชน',
 'ไปสถานที่แออัด เช่น งานแฟร์ คอนเสิร์ต',
 'ไปเที่ยวสถานบันเทิงในอุบลที่พบการระบาดของโรค Ubar',
 'ไปแหล่งชุมชน/สถานที่คนหนาแน่น',
 'ไม่ระบุ'}

In [15]:
data_covid[['risk']] = data_covid[['risk']].fillna('ไม่มีข้อมูล')  # แทนค่า Missing ของคอลัมน์ 'risk' ด้วย 'ไม่มีข้อมูล'

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [16]:
data_covid.isnull().any()       # ดูว่าคอลัมน์ไหนมีค่า missing บ้าง จะเห็นว่าคอลัมน์ 'risk' เป็น False นั่นคือไม่มีค่า missing

announce_date        False
sex                  False
risk                 False
province_of_onset     True
dtype: bool